// File: animations.less
// Note: 


// -------------------------
// Rhino Animation
// -------------------------


.rhino-animation {
  background: url("../animation/sprite.svg") 0 0 no-repeat;
  background-color: #0987cd;
  background-size: cover;
  display: block;
  padding-top: 115.8%; // top padding = (h / w) * 100 
  //height: 880px;
  //width: 760px;
}


