// File: labels.less
// Note: Extends Bootstrap labels.less


// -------------------------
// Labels
// -------------------------


.label {
  border-radius: @border-radius-small;
  color: @label-color;
  display: inline-block;
  font-size: 75%;
  font-weight: @font-weight-bold;
  line-height: 1;
  padding: @label-padding;
  position: relative;
  text-align: center;
  top: -0.1rem;
  vertical-align: baseline;
  white-space: nowrap;

  // Add hover effects, but only for links
  a& {
    &:hover,
    &:focus {
      color: @label-link-hover-color;
      cursor: pointer;
      text-decoration: none;
    }
  }

  &:empty {
    display: none;
  }
}


// -------------------------
// Label Modifiers
// -------------------------


.label--default {
  .label-variant(@label-default-bg);
}

.label--primary {
  .label-variant(@label-primary-bg);
}




