{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [">0.25%", "ie 11", "not op_mini all"]
      },
      "useBuiltIns": "entry"
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-strict-mode"
  ]
}
