{% include "opening.html" %}
<section id="js-toasts-container" class="toasts-container" style="z-index: 1000"></section>
<nav id="site-navigation" class="site-navigation">
  {% include "navigation.html" %}
</nav>
<div id="site-panel" class="site-panel">
  <div class="site-panel__header">
    <div class="site-panel__header__title">Site Panel Header</div>
    <a href="javascript:void(0)" class="close site-panel__header__close js-site-panel__header__close" role="button"><svg class="icon "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></a>
  </div>
  <div class="site-panel__body">
    <img src="https://unsplash.it/800/400?image=82" alt="" class="u-img-fluid u-m-b">
    <img src="https://unsplash.it/800/400?image=83" alt="" class="u-img-fluid u-m-b">
    <img src="https://unsplash.it/800/400?image=84" alt="" class="u-img-fluid u-m-b">
    <img src="https://unsplash.it/800/400?image=85" alt="" class="u-img-fluid u-m-b">
    <img src="https://unsplash.it/800/400?image=87" alt="" class="u-img-fluid u-m-b">
  </div>
  <div class="site-panel__footer">Site Panel Footer</div>
</div>
<div id="site-overlay" class="site-overlay"></div>
<div class="site-wrapper">
  <header class="site-header">
    <div id="site-header__menu" class="site-header__menu">
      <div class="site-header__menu__bar"></div>
      <div class="site-header__menu__bar"></div>
      <div class="site-header__menu__bar"></div>
    </div>
    <div class="site-header__title">
      <span class="u-text-overflow"><span class="site-header__title__treatment">RhinoStyle:</span> {{ title }}</span>
    </div>
    <div class="site-header__logo">
      <img src="{{rootPath}}svg/rhinogram-logo.svg" alt="">
    </div>
  </header>
  <main class="site-content" id="js-app">
    {% block body %}{% endblock %}
  </main>
</div>

{% include "closing.html" %}
