{% include "opening.html" %}
<section id="js-toasts-container" class="toasts-container" style="z-index: 1000"></section>
<nav id="site-navigation" class="site-navigation">
  <a href="https://www.rhinogram.com" class="site-navigation__logo">
    <img src="{{rootPath}}media/rhinogram-logo-horizontal-reversed.svg" alt="Rhinogram">
  </a>
  {% include "navigation.html" %}
</nav>
<div id="site-overlay" class="site-overlay"></div>
<div class="site-wrapper">
  <header class="site-header">
    <div class="site-header__menu">
      <div class="site-header__menu__bar"></div>
      <div class="site-header__menu__bar"></div>
      <div class="site-header__menu__bar"></div>
    </div>
    <div class="site-header__title">
      <span class="u-text-overflow"><span class="site-header__title__treatment">RhinoStyle:</span> {{ title }}</span>
    </div>
  </header>
  <main class="site-content" id="root">
    {% block body %}{% endblock %}
  </main>
</div>

{% include "closing.html" %}
