{% include "opening.html" %}
<section id="js-toasts-container" class="toasts-container" style="z-index: 10"></section>
<section id="js-modal-container"></section>

<nav id="site-navigation" class="site-navigation">
  {% include "navigation.html" %}
</nav>
<div id="site-overlay" class="site-overlay"></div>
<div class="site-wrapper">
  <header class="site-header">
    <div id="site-header__menu" class="site-header__menu">
      <div class="site-header__menu__bar"></div>
      <div class="site-header__menu__bar"></div>
      <div class="site-header__menu__bar"></div>
    </div>
    <div class="site-header__title">
      <span class="u-text-overflow"><span class="site-header__title__treatment">RhinoStyle:</span> {{ title }}</span>
    </div>
    <div class="site-header__logo">
      <img src="{{rootPath}}svg/rhinogram-logo.svg" alt="">
    </div>
  </header>
  <main class="site-content" id="js-app">
    {% block body %}{% endblock %}
  </main>
</div>
{% include "closing.html" %}
