
    <ul class="site-navigation__nav">
      <li>
        <a href="{{rootPath}}" class="site-navigation__nav__button">Introduction</a>
      </li>
      <li>
        <a href="{{rootPath}}animations/" class="site-navigation__nav__button">Animations</a>
      </li>
      <li>
        <a href="{{rootPath}}avatars/" class="site-navigation__nav__button">Avatars</a>
      </li>
      <li>
        <a href="{{rootPath}}buckets/" class="site-navigation__nav__button">Buckets</a>
      </li>
      <li>
        <a href="{{rootPath}}buttons/" class="site-navigation__nav__button">Buttons</a>
      </li>
      <li>
        <a href="{{rootPath}}close/" class="site-navigation__nav__button">Close</a>
      </li>
      <li>
        <a href="{{rootPath}}colors/" class="site-navigation__nav__button">Colors</a>
      </li>
      <li>
        <a href="{{rootPath}}covers/" class="site-navigation__nav__button">Covers</a>
      </li>
      <li>
        <a href="{{rootPath}}datepicker/" class="site-navigation__nav__button">Datepicker</a>
      </li>
      <li>
        <a href="{{rootPath}}dropdowns/" class="site-navigation__nav__button">Dropdowns</a>
      </li>
      <li>
        <a href="{{rootPath}}feedback/" class="site-navigation__nav__button">Feedback</a>
      </li>
      <li>
        <a href="{{rootPath}}forms/" class="site-navigation__nav__button">Forms</a>
      </li>
      <li>
        <a href="{{rootPath}}grid/" class="site-navigation__nav__button">Grid</a>
      </li>
      <li>
        <a href="{{rootPath}}icons/" class="site-navigation__nav__button">Icons</a>
      </li>
      <li>
        <a href="{{rootPath}}labels/" class="site-navigation__nav__button">Labels</a>
      </li>
      <li>
        <a href="{{rootPath}}lightbox/" class="site-navigation__nav__button">Lightbox</a>
      </li>
      <li>
        <a href="{{rootPath}}loaders/" class="site-navigation__nav__button">Loaders</a>
      </li>
      <li>
        <a href="{{rootPath}}messages/" class="site-navigation__nav__button">Messages</a>
      </li>
      <li>
        <a href="{{rootPath}}navigation/" class="site-navigation__nav__button">Navigation</a>
      </li>
      <li>
        <a href="{{rootPath}}modals/" class="site-navigation__nav__button">Modals</a>
      </li>
      <li>
        <a href="{{rootPath}}pills/" class="site-navigation__nav__button">Pills</a>
      </li>
      <li>
        <a href="{{rootPath}}progressbars/" class="site-navigation__nav__button">Progress Bars</a>
      </li>
      <li>
        <a href="{{rootPath}}scrollbars/" class="site-navigation__nav__button">Scroll Bars</a>
      </li>
      <li>
        <a href="{{rootPath}}tables/" class="site-navigation__nav__button">Tables</a>
      </li>
      <li>
        <a href="{{rootPath}}tabs/" class="site-navigation__nav__button">Tabs</a>
      </li>
      <li>
        <a href="{{rootPath}}tooltips/" class="site-navigation__nav__button">Tooltips</a>
      </li>
      <li>
        <a href="{{rootPath}}typography/" class="site-navigation__nav__button">Typography</a>
      </li>
      <li>
        <a href="{{rootPath}}utility-classes/" class="site-navigation__nav__button">Utility Classes</a>
      </li>
      <li>
        <a href="{{rootPath}}utility-components/" class="site-navigation__nav__button">Utility Components</a>
      </li>
      <li>
        <a href="{{rootPath}}variable-messages/" class="site-navigation__nav__button">Variable Messages</a>
      </li>
    </ul>
