{% set pages = [
    { url: '', title: 'Introduction' },
    { url: 'animations', title: 'Animations' },
    { url: 'avatars', title: 'Avatars' },
    { url: 'buckets', title: 'Buckets' },
    { url: 'buttons', title: 'Buttons' },
    { url: 'charts', title: 'Charts' },
    { url: 'close', title: 'Close' },
    { url: 'collapse', title: 'Collapse' },
    { url: 'colors', title: 'Colors' },
    { url: 'covers', title: 'Covers' },
    { url: 'datepicker', title: 'Datepicker' },
    { url: 'dropdowns', title: 'Dropdowns' },
    { url: 'feedback', title: 'Feedback' },
    { url: 'forms', title: 'Forms' },
    { url: 'grid', title: 'Grid' },
    { url: 'icons', title: 'Icons' },
    { url: 'labels', title: 'Labels' },
    { url: 'lightbox', title: 'Lightbox' },
    { url: 'loaders', title: 'Loaders' },
    { url: 'modals', title: 'Modals' },
    { url: 'messages', title: 'Messages' },
    { url: 'navigation', title: 'Navigation' },
    { url: 'pills', title: 'Pills' },
    { url: 'progressbars', title: 'Progress Bars' },
    { url: 'resources', title: 'Resources' },
    { url: 'scrollbars', title: 'Scrollbars' },
    { url: 'tables', title: 'Tables' },
    { url: 'tabs', title: 'Tabs' },
    { url: 'tooltips', title: 'Tooltips' },
    { url: 'typography', title: 'Typography' },
    { url: 'utility-classes', title: 'Utility Classes' },
    { url: 'utility-components', title: 'Utility Components' },
    { url: 'variable-messages', title: 'Variable Messages' }
  ]
%}

<ul class="site-navigation__nav">
  {% for page in pages %}
    <li><a class="site-navigation__nav__button" href="{{rootPath}}{{page.url}}{% if page.url.length > 1 %}/{% endif %}">{{page.title}}</a></li>
  {% endfor %}
</ul>
