    
    <ul class="site-navigation__nav">
      <li>
        <a href="{{rootPath}}" class="site-navigation__nav__btn">Introduction</a>
      </li>
      <li>
        <a href="{{rootPath}}animations/" class="site-navigation__nav__btn">Animations</a>
      </li>
      <li>
        <a href="{{rootPath}}avatars/" class="site-navigation__nav__btn">Avatars</a>
      </li>
      <li>
        <a href="{{rootPath}}buttons/" class="site-navigation__nav__btn">Buttons</a>
      </li>
      <li>
        <a href="{{rootPath}}colors/" class="site-navigation__nav__btn">Colors</a>
      </li>
      <li>
        <a href="{{rootPath}}datepicker/" class="site-navigation__nav__btn">Date Picker</a>
      </li>
      <li>
        <a href="{{rootPath}}dropdowns/" class="site-navigation__nav__btn">Dropdowns</a>
      </li>
      <li>
        <a href="{{rootPath}}feedback/" class="site-navigation__nav__btn">Feedback</a>
      </li>
      <li>
        <a href="{{rootPath}}forms/" class="site-navigation__nav__btn">Forms</a>
      </li>
      <li>
        <a href="{{rootPath}}grid/" class="site-navigation__nav__btn">Grid</a>
      </li>
      <li>
        <a href="{{rootPath}}icons/" class="site-navigation__nav__btn">Icons</a>
      </li>
      <li>
        <a href="{{rootPath}}labels/" class="site-navigation__nav__btn">Labels</a>
      </li>
      <li>
        <a href="{{rootPath}}loaders/" class="site-navigation__nav__btn">Loaders</a>
      </li>
      <li>
        <a href="{{rootPath}}messages/" class="site-navigation__nav__btn">Messages</a>
      </li>
      <li>
        <a href="{{rootPath}}modals/" class="site-navigation__nav__btn">Modals</a>
      </li>
      <li>
        <a href="{{rootPath}}pills/" class="site-navigation__nav__btn">Pills</a>
      </li>
      <li>
        <a href="{{rootPath}}progressbars/" class="site-navigation__nav__btn">Progress Bars</a>
      </li>
      <li>
        <a href="{{rootPath}}tabs/" class="site-navigation__nav__btn">Tabs</a>
      </li>
      <li>
        <a href="{{rootPath}}utilities/" class="site-navigation__nav__btn">Utilities</a>
      </li>
    </ul>
    

    



