<!doctype html>
<html lang="en">
  <head>
    <title>RhinoStyles: {{ title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="{{rootPath}}media/favicon.png">
    <script src="{{rootPath}}scripts/modernizr.custom.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700">
    <link rel="stylesheet" href="{{rootPath}}css/rhinostyle-docs.css">
  </head>
  <body>
