<!doctype html>
<html lang="en">
  <head>
    <title>RhinoStyles: {{ title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="{{rootPath}}favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700">
    <link rel="stylesheet" href="{{rootPath}}css/rhinostyle-docs.css">
  </head>
  <body>
    <div style="border: 0; clip: rect(0 0 0 0); height: 0; overflow: hidden; padding: 0; position: absolute; width: 0;">
      {% include '../../dist/svg/sprite.svg' %}
    </div>
