// File: alerts.less
// Note:


// -------------------------
// Alert
// -------------------------


.alert {
  border-radius: @alert-border-radius;
  padding: @alert-padding;
  position: relative;
}


// -------------------------
// Alert Modifiers
// -------------------------


.alert--danger {
  .mixin-alert-variant(@color-danger);
}

.alert--default {
  background: @color-gray-lighter;

  .alert__title {
    color: @color-gray-darker;
  }
}

.alert--dismissible {
  padding-right: (@alert-padding + 2rem);

  .alert__close {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }
}

.alert--info {
  .mixin-alert-variant(@color-info);
}

.alert--outline-danger {
  .mixin-outline-alert-variant(@color-danger);
}

.alert--outline-default {
  .mixin-outline-alert-variant(@color-gray);
}

.alert--outline-info {
  .mixin-outline-alert-variant(@color-info);
}

.alert--outline-success {
  .mixin-outline-alert-variant(@color-success);
}

.alert--outline-warning {
  .mixin-outline-alert-variant(@color-warning);
}

.alert--success {
  .mixin-alert-variant(@color-success);
}

.alert--warning {
  .mixin-alert-variant(@color-warning);
}


// -------------------------
// Alert Body
// -------------------------


.alert__body {
  font-style: italic;

  &:empty {
    display: none;
  }

  a {
    font-style: normal;
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: 0;
  }

}


// -------------------------
// Alert Title
// -------------------------


.alert__title {
  display: flex;
  font-weight: @font-weight-semibold;
}

.alert__title__icon {
  //font-size: 1.8rem;
  margin-right: @margin-small;
  top: .2rem;
}
