//
// Variables
//


@alert-border-radius: @global-border-radius;
@alert-padding: @global-whitespace-base;
@alert-padding-small: @global-whitespace-small;


//
// Component
//


.alert {
  border-radius: @alert-border-radius;
  padding: @alert-padding;
  position: relative;

  & + & {
    margin-top: @global-whitespace-medium;
  }
}

.alert--sm {
  font-size: @global-font-size-small;
  padding: @alert-padding-small;
}


//
// Alert Modifiers
//


.alert--danger {
  .mixin-alert-variant(@global-color-danger);
}

.alert--default {
  background: @global-color-gray-lighter;

  .alert__title {
    color: darken(@global-font-color, 5%);
  }
}

.alert--dismissible {
  padding-right: (@alert-padding + 2rem);
}

.alert--info {
  .mixin-alert-variant(@global-color-info);
}

.alert--success {
  .mixin-alert-variant(@global-color-success);
}


//
// Alert Body
//


.alert__body {
  font-style: italic;

  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: 0;
  }
}


//
// Alert Close
//


.alert__close {
  position: absolute !important;
  right: 1rem;
  top: 1.5rem;

  .alert--sm & {
    top: 1.15rem;
  }
}


//
// Alert Title
//


.alert__title {
  display: flex;
  font-weight: @global-font-weight-bold;
}

.alert__title__icon {
  margin-right: @global-whitespace-small;
  top: 0.2rem;
}
