// File: animations.less
// Note:


// -------------------------
// Rhino Animation
// -------------------------


.rhino-animation {
  background-color: @brand-primary;
  max-width: 48rem;
  overflow: hidden;
  position: relative;
}

.rhino-animation__flag {
  height: 100%;
  width: 5200%; // total frames * 100
}

.rhino-animation__login {
  height: 100%;
  width: 6500%; // total frames * 100
}



