// File: animations.less
// Note:


// -------------------------
// Rhino Animation
// -------------------------


.rhino-animation {
  background-color: @brand-primary;
  max-width: 4.8rem;
  overflow: hidden;
  position: relative;
}

.rhino-animation__image {
  height: 100%;
  width: 5200%; // total frames * 100
}
