// File: avatars.less
// Note:


// -------------------------
// Avatar
// -------------------------


.avatar {
  align-items: center;
  background-position: center center;
  background-size: cover;
  //border: 1px solid @gray-light;
  border-radius: @border-radius-base;
  color: @white;
  display: inline-flex;
  font-size: 2.2rem;
  font-weight: @font-weight-light;
  height: 6rem;
  justify-content: center;
  letter-spacing: .1rem;
  overflow: hidden;
  pointer-events: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 6rem;
}


// -------------------------
// Avatar Modifiers (Color)
// -------------------------


.avatar--accent {
  background-color: @brand-accent;
  //border-color: @brand-accent;
}

.avatar--cool {
  background-color: @cool;
  //border-color: #7fc0e3;
}


// -------------------------
// Avatar Modifiers (Sizes)
// -------------------------


.avatar--lg {
  font-size: 3rem;
  height: 8rem;
  width: 8rem;
}

.avatar--sm {
  border-radius: @border-radius-small;
  font-size: 1.4rem;
  height: 4rem;
  // use min-width to prevent flex shrinking since we know the width
  // otherwise we would use flex-shrink: 0;
  min-width: 4rem;
  width: 4rem;
}


// -------------------------
// Avatar Icon
// -------------------------


.avatar__icon {
  fill: currentColor;
  height: 86%;
  opacity: .4;
  position: relative;
  top: 12%;
  width: 86%;
}



