// File: buckets.less
// Note:


// -------------------------
// Bucket
// -------------------------


.bucket {
  border: 1px solid @bucket-border-color;
  border-radius: @bucket-border-radius;
}


// -------------------------
// Bucket Modifiers (Color)
// -------------------------


.bucket--default {
  background: @bucket-bg-default;
}

.bucket--warm {
  background: @bucket-bg-warm;
}


// -------------------------
// Bucket Modifiers (Size)
// -------------------------


.bucket--sm {
  .bucket__body {
    padding: @bucket-body-padding-small;
  }
}


// -------------------------
// Bucket Body
// -------------------------


.bucket__body {
  padding: @bucket-body-padding;
}



