//
// Variables
//


@button-font-weight: normal;

@button-link-disabled-color: @global-color-gray-light;

@button-border-radius: @global-border-radius;

@button-font-size-large: @global-font-size-large;
@button-font-size-small: @global-font-size-small;

@button-height-base: @global-height;
@button-height-large: @global-height-large;
@button-height-small: @global-height-small;

@button-icon-padding-base: @button-height-base / 4;
@button-icon-padding-large: @button-height-large / 4;
@button-icon-padding-small: @button-height-small / 4;

@button-padding-base: (@global-whitespace-small + (@global-whitespace-xsmall / 2));
@button-padding-large: (@global-whitespace-small + @global-whitespace-xsmall);
@button-padding-small: @global-whitespace-small;

@button-accent-color: @global-color-white;
@button-accent-bg: @global-color-accent;
@button-accent-border: @global-color-accent;

@button-danger-color: @global-color-white;
@button-danger-bg: @global-color-danger;
@button-danger-border: @global-color-danger;

@button-default-color: @global-font-color;
@button-default-bg: @global-color-white;
@button-default-border: @global-border-color-base;

@button-info-color: @global-color-white;
@button-info-bg: @global-color-info;
@button-info-border: @global-color-info;

@button-outline-default-color: @global-font-color;
@button-outline-default-bg: transparent;
@button-outline-default-border: @button-default-border;
@button-outline-default-hover-bg: darken(@global-color-gray, 10%);
@button-outline-default-hover-border: @button-outline-default-hover-bg;

@button-outline-primary-color: @global-color-primary;
@button-outline-primary-bg: transparent;
@button-outline-primary-border: @button-outline-primary-color;
@button-outline-primary-hover-bg: @button-outline-primary-color;
@button-outline-primary-hover-border: @button-outline-primary-color;

@button-outline-reversed-color: @global-color-white;
@button-outline-reversed-bg: transparent;
@button-outline-reversed-border: @global-color-white;
@button-outline-reversed-hover-bg: rgba(255, 255, 255, 0.1);
@button-outline-reversed-hover-border: @global-color-white;

@button-primary-color: @global-color-white;
@button-primary-bg: @global-color-primary;
@button-primary-border: @global-color-primary;

@button-secondary-color: @global-color-white;
@button-secondary-bg: @global-color-secondary;
@button-secondary-border: @global-color-secondary;

@button-success-color: @global-color-white;
@button-success-bg: @global-color-success;
@button-success-border: @global-color-success;

@button-warning-color: @global-color-white;
@button-warning-bg: @global-color-warning;
@button-warning-border: @global-color-warning;

@badge-border-radius: @global-border-radius;
@badge-horizontal-padding: @global-whitespace-xsmall;
@badge-vertical-padding: 0.3rem;


//
// Component
//


//
// Button Elements
//
// We are not using <button> elements b/c they don't respect Flexbox


button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


//
// Buttons
//


.button {
  align-items: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-weight: @button-font-weight;
  justify-content: flex-start;
  margin-bottom: 0; // For input.button
  max-width: 100%;
  text-align: left;
  touch-action: manipulation;
  transition: color 0.25s @global-trans-timing-cubic, background 0.25s @global-trans-timing-cubic;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  .mixin-button-size(@button-height-base; @button-padding-base; @global-font-size-base; @button-border-radius);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.active {
    background-image: none;
    box-shadow: inset 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    outline: 0;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
    cursor: @cursor-disabled;
    opacity: @global-opacity-disabled;
    pointer-events: none;
  }

  &:focus {
    .mixin-tab-focus();
  }
}


//
// Button Modifiers (Block)
//


.button--block {
  justify-content: center;
  width: 100%;
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
  &.button--block {
    width: 100%;
  }
}


//
// Button Modifiers (Color)
//


.button--danger {
  .mixin-button-variant(@button-danger-color; @button-danger-bg; @button-danger-border);
}

.button--default {
  .mixin-button-variant(@button-default-color; @button-default-bg; @button-default-border; 4%);
}

.button--input {
  .mixin-button-variant(@button-default-color; @button-default-bg; @button-default-border; 0%);
}

.button--primary {
  .mixin-button-variant(@button-primary-color; @button-primary-bg; @button-primary-border);
}

.button--outline-default {
  .mixin-button-outline-variant(@button-outline-default-color;
                                @button-outline-default-bg;
                                @button-outline-default-border;
                                @button-outline-default-hover-bg;
                                @button-outline-default-hover-border);
}

.button--outline-primary {
  .mixin-button-outline-variant(@button-outline-primary-color;
                                @button-outline-primary-bg;
                                @button-outline-primary-border;
                                @button-outline-primary-hover-bg;
                                @button-outline-primary-hover-border);
}

.button--outline-reversed {
  .mixin-button-outline-variant(@button-outline-reversed-color;
                                @button-outline-reversed-bg;
                                @button-outline-reversed-border;
                                @button-outline-reversed-hover-bg;
                                @button-outline-reversed-hover-border);
}

.button--secondary {
  .mixin-button-variant(@button-secondary-color; @button-secondary-bg; @button-secondary-border);
}


//
// Button Modifiers (Icons)
//
// Buttons that only have an icon and no text.


.button--icon {
  padding-left: @button-icon-padding-base;
  padding-right: @button-icon-padding-base;

  &.button--lg {
    padding-left: @button-icon-padding-large;
    padding-right: @button-icon-padding-large;
  }

  &.button--sm {
    padding-left: @button-icon-padding-small;
    padding-right: @button-icon-padding-small;
  }
}


//
// Button Modifiers (Link)
//
// Button padding and sizing but looks like an anchor


.button--link {
  border-radius: 0;
  color: @base-link-color;
  font-weight: normal;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: @base-link-hover-color;
    text-decoration: none;
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @button-link-disabled-color;
      text-decoration: none;
    }
  }

  &.button--icon {
    text-decoration: none;
  }

  .button__badge {
    background: @base-link-color;
    color: @global-color-white;
  }
}


//
// Button Modifiers (Sizes)
//


.button--lg {
  .mixin-button-size(@button-height-large; @button-padding-large; @button-font-size-large; @button-border-radius);
}

.button--sm {
  line-height: @global-line-height-small;

  .mixin-button-size(@button-height-small; @button-padding-small; @button-font-size-small; @button-border-radius);
}



//
// Button Badges
//


.button__badge {
  border-radius: @badge-border-radius;
  line-height: 1;
  padding: @badge-vertical-padding @badge-horizontal-padding;
  position: relative;
  text-align: center;
  white-space: nowrap;

  &:empty {
    display: none;
  }
}
