//
// Variables
//


@button-font-weight: normal;
@button-transition: color 0.25s @global-trans-timing-cubic, background 0.25s @global-trans-timing-cubic;

@button-bg-size-active: 200% 200%;
@button-active-box-shadow: inset 0 1px 4px fade(@global-color-black, 15%);

@button-link-disabled-color: @global-color-gray-light;

@button-border-radius: @global-border-radius;

@button-font-size-large: @global-font-size-large;
@button-font-size-small: @global-font-size-small;

@button-height-base: @global-height;
@button-height-large: @global-height-large;
@button-height-small: @global-height-small;

@button-icon-padding-base: @button-height-base / 4;
@button-icon-padding-large: @button-height-large / 4;
@button-icon-padding-small: @button-height-small / 4;

@button-padding-base: (@global-whitespace-small + (@global-whitespace-xsmall / 2));
@button-padding-large: (@global-whitespace-small + @global-whitespace-xsmall);
@button-padding-small: @global-whitespace-small;

@button-default-color: @global-font-color;
@button-default-bg-color: #ececec;
@button-default-bg: linear-gradient(to bottom right, @button-default-bg-color, darken(@button-default-bg-color, 6.5));
@button-default-border: darken(@button-default-bg-color, 6.5);

@button-primary-color: @global-color-white;
@button-primary-bg-color: @global-color-primary;
@button-primary-bg: linear-gradient(to bottom right, @button-primary-bg-color, darken(@button-primary-bg-color, 6.5));
@button-primary-border: darken(@button-primary-bg-color, 6.5);

@button-secondary-color: @global-color-white;
@button-secondary-bg-color: @global-color-secondary;
@button-secondary-bg: linear-gradient(to bottom right, @button-secondary-bg-color, darken(@button-secondary-bg-color, 6.5));
@button-secondary-border: darken(@button-secondary-bg-color, 6.5);

@button-danger-color: @global-color-white;
@button-danger-bg-color: @global-color-danger;
@button-danger-bg: linear-gradient(to bottom right, @button-danger-bg-color, darken(@button-danger-bg-color, 6.5));
@button-danger-border: darken(@button-danger-bg-color, 6.5);

@button-outline-default-color: @global-font-color;
@button-outline-default-border: @button-default-border;
@button-outline-default-hover-bg: @button-default-bg-color;

@button-outline-primary-color: @button-primary-border;
@button-outline-primary-border: @button-primary-border;
@button-outline-primary-hover-bg: @button-primary-bg-color;

@button-outline-reversed-color: @global-color-white;
@button-outline-reversed-border: @global-color-white;
@button-outline-reversed-hover-bg: fade(@global-color-white, 10%);
@button-outline-reversed-hover-border: @global-color-white;

@badge-border-radius: @global-border-radius;
@badge-horizontal-padding: @global-whitespace-xsmall;
@badge-vertical-padding: 0.3rem;


//
// Component
//


// 1. Correct inability to style clickable `input` types in iOS.
// 2. Remove margins in Chrome, Safari and Opera.
// 3. Normalizes styles for `button`.
// 4. Address `overflow` set to `hidden` in IE 8/9/10/11.
// 5. Correct `font` properties and `color` not being inherited for `button`.
// 6. Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE
// 7. Style
// 8. `line-height` is used to create a height
// 9. `min-height` is necessary for `input` elements in Firefox and Opera because `line-height` is not working.
// 10. Reset button group whitespace hack
// 11. Required for `a`.
// 12. Do not wrap buttons
// 13. Removes inner padding and border in Firefox 4+.
.button {
  // 1
  appearance: none;
  // 2
  margin: 0;
  // 3
  border: 1px solid transparent;
  // 4
  overflow: visible;
  // 5
  font: inherit;
  font-weight: @button-font-weight;
  color: @button-default-color;
  // 6
  text-transform: none;
  // 7
  display: inline-block;
  padding: 0 @button-padding-base;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  border-radius: @global-border-radius;
  transition: @button-transition;
  // 8
  line-height: ~'calc(@{button-height-base} - (2px))';
  // 9
  height: @button-height-base;
  // 10
  font-size: @global-font-size-base;
  // 11
  text-decoration: none;
  text-align: center;
  // 12
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    color: @button-default-color;
    background-size: @button-bg-size-active !important;
  }

  // 13
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


//
// Color variations
//


.button--default {
  .mixin-button-variant(@button-default-color; @button-default-bg; @button-default-border);
}

.button--primary {
  .mixin-button-variant(@button-primary-color; @button-primary-bg; @button-primary-border);
}

.button--secondary {
  .mixin-button-variant(@button-secondary-color; @button-secondary-bg; @button-secondary-border);
}

.button--danger {
  .mixin-button-variant(@button-danger-color; @button-danger-bg; @button-danger-border);
}

.button--outline-default {
  .mixin-button-outline-variant(@button-outline-default-color; @button-outline-default-border; @button-outline-default-color; @button-outline-default-hover-bg);
}

.button--outline-primary {
  .mixin-button-outline-variant(@button-outline-primary-color; @button-outline-primary-border; @global-color-white; @button-outline-primary-hover-bg);
}

.button--link {
  .mixin-button-outline-variant(@base-link-color; transparent; @base-link-hover-color; transparent; @shadow: false);
}

.button--outline-reversed {
  .mixin-button-outline-variant(@button-outline-reversed-color; @button-outline-reversed-border; @button-outline-reversed-color; @button-outline-reversed-hover-bg; @shadow: false);
}


//
// Size variations
//


.button--small {
  .mixin-button-size(@button-height-small; @button-padding-small; @button-font-size-small);
}

.button--large {
  .mixin-button-size(@button-height-large; @button-padding-large; @button-font-size-large);
}

.button--block {
  display: block;
  width: 100%;
}


//
// Icon only
//


.button--icon {
  padding-left: @button-icon-padding-base;
  padding-right: @button-icon-padding-base;

  &.button--large {
    padding-left: @button-icon-padding-large;
    padding-right: @button-icon-padding-large;
  }

  &.button--small {
    padding-left: @button-icon-padding-small;
    padding-right: @button-icon-padding-small;
  }
}
