// File: callouts.less
// Note:


// -------------------------
// Callouts
// -------------------------

.callout {
  border-left: .6rem solid transparent;
  padding: @padding-large @padding-xlarge;
}


// -------------------------
// Callout Modifiers
// -------------------------


.callout--danger {
  background: @color-gray-lightest;
  border-color: @color-danger;

  .callout__heading {
    color: @color-danger;
  }
}

.callout--default {
  background: @color-gray-lightest;
  border-color: @color-gray-dark;
}

.callout--info {
  background: @color-gray-lightest;
  border-color: @color-info;

  .callout__heading {
    color: @color-info;
  }
}


// -------------------------
// Callout Body
// -------------------------


/*.callout__body {
  font-weight: @font-weight-light;
}*/


// -------------------------
// Callout Heading
// -------------------------


.callout__heading {
  font-size: @font-size-large;
  font-weight: @font-weight-semibold;
}
