.chart {
  padding: @global-whitespace-medium;

  .chart__header {
    padding: @global-whitespace-base @global-whitespace-small;

    .header__title {
      color: @global-color-gray-darker;
      font-weight: @global-font-weight-bold;
      margin-right: @global-whitespace-medium;

      .header__icon--info {
        color: @global-color-gray;
        margin-left: @global-whitespace-medium/2;
      }
    }

    .header__subtitle {
      .accent {
        color: fadeout(@global-color-accent, 20%);
      }

      &.danger {
        color: fadeout(@global-color-danger, 20%);
      }

      &.secondary {
        color: fadeout(@global-color-secondary, 20%);
      }

      &.primary {
        color: fadeout(@global-color-primary, 20%);
      }

      &.default {
        color: fadeout(@global-color-black, 20%);
      }

      .subtitle--muted {
        color: @global-color-gray;
        margin-left: @global-whitespace-medium/2;
        font-size: @global-font-size-xsmall;
      }
    }
  }

  .chart__without-data {
    border-left: 1px solid @global-color-gray-lighter;
    border-bottom: 1px solid @global-color-gray-lighter;
    height: 200px;
    text-align: center;
    padding-top: 70px;
    color: @global-color-gray-dark;
    font-weight: @global-font-weight-bold;
    width: 90%;
    margin: 0 auto;

    p {
      font-weight: @global-font-weight-normal;
      margin-top: @global-whitespace-medium / 2;
      font-size: @global-font-size-small;
    }
  }
}
