.chart-wrapper {
  padding: @global-whitespace-medium;
  .chart-header {
	  padding: @global-whitespace-base @global-whitespace-small;
	  .chart-title {
		color: @global-color-gray-darker;
		font-weight: @global-font-weight-bold;
		margin-right: @global-whitespace-medium;
		.info-icon {
			color: @global-color-gray;
			margin-left: @global-whitespace-medium/2;
		}
	  }
	  .chart-subtitle {
		  &.red {
			color: fadeout(@global-color-accent, 20%);
		  }
		  &.green {
			color: fadeout(@global-color-secondary, 20%);
		  }
		  &.primary {
            color: fadeout(@global-color-primary, 20%);
		  }
		  &.default {
            color: fadeout(@global-color-black, 20%);
		  }
		  .subtitle-info {
			  color: @global-color-gray;
			  margin-left: @global-whitespace-medium/2;
			  font-size: @global-font-size-xsmall;
		  }
	  }
  }
}
