// File: close.less
// Note:


// -------------------------
// Close
// -------------------------


.close {
  color: inherit;
  float: right;
  font-size: (@font-size-base * 1.5);
  font-weight: @close-font-weight;
  line-height: 1;
  opacity: .5;
  padding: 0 @padding-xsmall;

  &:hover,
  &:focus {
    color: inherit;
    cursor: pointer;
    opacity: .75;
    outline: 0;
    text-decoration: none;
  }

  // Additional properties for button version
  // iOS requires the button element instead of an anchor tag.
  // If you want the anchor version, it requires `href="#"`.
  // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
  button& {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}



