// Note: https://github.com/Hacker0x01/react-datepicker

// -------------------------
// Variables
// -------------------------


@datepicker-border-color: @global-border-color-base;
@datepicker-border-radius: @global-border-radius;
@datepicker-border-radius-day: 50%;
@datepicker-day-size: 3.2rem;
@datepicker-nav-color: @global-color-gray;
@datepicker-nav-hover-color: @global-color-gray-dark;
@datepicker-nav-size: 2rem;
@datepicker-shadow: @global-shadow-depth-1;


// -------------------------
// Component
// -------------------------


.react-datepicker__tether-element-attached-top .react-datepicker__triangle,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow {
  margin-left: -.8rem;
  position: absolute;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  border: .8rem solid transparent;
  box-sizing: content-box;
  height: 0;
  position: absolute;
  width: 1px;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  border-bottom-color: #aeaeae;
  border-width: .8rem;
  content: '';
  left: -.8rem;
  z-index: -1;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: -.7rem;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle,
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-bottom-color: @global-color-gray-lightest;
  border-top: 0;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-bottom-color: #aeaeae;
  top: -1px;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -.8rem;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  border-bottom: 0;
  border-top-color: @global-color-white;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  border-top-color: #aeaeae;
  bottom: -1px;
}

.react-datepicker {
  background-color: @global-color-white;
  border: 1px solid @datepicker-border-color;
  border-radius: @datepicker-border-radius;
  box-shadow: @datepicker-shadow;
  display: inline-block;
  position: relative;
}

.react-datepicker__triangle {
  left: 5rem;
  position: absolute;
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -2rem;
}

.react-datepicker__header {
  background-color: @global-color-gray-lightest;
  border-bottom: 1px solid @datepicker-border-color;
  border-top-left-radius: @datepicker-border-radius;
  border-top-right-radius: @datepicker-border-radius;
  padding-top: @global-whitespace-small;
  position: relative;
  text-align: center;
}

.react-datepicker__current-month {
  color: @global-color-gray-darker;
  //font-weight: @font-weight-semibold;
  font-size: 1.8rem;
  padding: @global-whitespace-xsmall 0;
}

.react-datepicker__current-month--hasYearDropdown { // lesshint selectorNaming: false
  margin-bottom: 1.6rem;
}

.react-datepicker__navigation {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: @datepicker-nav-size @datepicker-nav-size;
  cursor: pointer;
  height: @datepicker-nav-size;
  position: absolute;
  top: 1.2rem;
  width: @datepicker-nav-size;
  z-index: 1;
}

.react-datepicker__navigation--previous {
  background-image: url('@{svg-sprite}#icon-chevron-left');
  fill: @global-color-gray;
  left: 1rem;
}

.react-datepicker__navigation--previous:hover {
  background-image: url('@{svg-sprite}#icon-chevron-left');
  fill: @text-color;
}

.react-datepicker__navigation--next {
  background-image: url('@{svg-sprite}#icon-chevron-right');
  fill: @global-color-gray;
  right: 1rem;
}

.react-datepicker__navigation--next:hover {
  background-image: url('@{svg-sprite}#icon-chevron-right');
  fill: @text-color;
}

.react-datepicker__navigation--years {
  display: block;
  height: @global-height-small;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}

.react-datepicker__navigation--years-previous {
  background-image: url('@{svg-sprite}#icon-chevron-down');
  fill: @global-color-gray;
}

/*.react-datepicker__navigation--years-previous:hover {
  border-top-color: @datepicker-nav-hover-color;
}*/

.react-datepicker__navigation--years-upcoming {
  background-image: url('@{svg-sprite}#icon-chevron-up');
  fill: @global-color-gray;
}

/*.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: @datepicker-nav-hover-color;
}*/

.react-datepicker__month {
  margin: .5rem;
  text-align: center;
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: @text-color;
  display: inline-block;
  line-height: @datepicker-day-size;
  margin: 2px;
  text-align: center;
  width: @datepicker-day-size;
}

.react-datepicker__day--outside-month {
  color: lighten(@text-color, 30%);
}

.react-datepicker__day {
  border-radius: @datepicker-border-radius-day;
  cursor: pointer;
}

.react-datepicker__day:hover {
  background-color: @global-color-gray-lighter;
  //border-radius: @datepicker-border-radius;
}

.react-datepicker__day--today {
  &:not(.react-datepicker__day--selected) {
    box-shadow: inset 0 0 0 1px @global-color-accent;
  }
  //color: @global-color-gray-darker;
  //font-weight: @font-weight-bold;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: @global-color-secondary;
  color: @global-color-white;
  font-weight: normal;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-range:hover {
  background-color: darken(@global-color-secondary, 6%);
}

.react-datepicker__day--disabled {
  background-color: transparent;
  color: @global-color-gray-light;
  cursor: default;
}

.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

.react-datepicker__input-container {
  position: relative;
}

.react-datepicker__year-read-view {
  border: 1px solid transparent;
  border-radius: @datepicker-border-radius;
  bottom: 2.2rem;
  color: @global-color-primary;
  left: 25%;
  margin-bottom: 1rem;
  position: absolute;
  text-decoration: underline;
  width: 50%;
}

.react-datepicker__year-read-view:hover {
  cursor: pointer;
}

/*.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: @datepicker-nav-hover-color;
}

.react-datepicker__year-read-view--down-arrow {
  border-top-color: @global-color-gray;
  border-width: .6rem;
  left: .5rem;
  margin-bottom: .3rem;
  position: relative;
  top: 1rem;
}*/

.react-datepicker__year-read-view--selected-year {
  position: relative;
}

.react-datepicker__year-dropdown {
  background-color: @global-color-gray-lightest;
  border: 1px solid @global-border-color-base;
  border-radius: @datepicker-border-radius;
  left: 25%;
  position: absolute;
  text-align: center;
  top: 3rem;
  width: 50%;
}

.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-option {
  display: block;
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.react-datepicker__year-option:first-of-type {
  border-top-left-radius: @datepicker-border-radius;
  border-top-right-radius: @datepicker-border-radius;
}

.react-datepicker__year-option:last-of-type {
  border-bottom-left-radius: @datepicker-border-radius;
  border-bottom-right-radius: @datepicker-border-radius;
  user-select: none;
}

.react-datepicker__year-option:hover {
  background-color: @global-color-gray-lighter;
}

/*.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: @datepicker-nav-hover-color;
}*/

/*.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: @datepicker-nav-hover-color;
}*/

.react-datepicker__year-option--selected {
  left: 22%;
  position: absolute;
}

.react-datepicker__close-icon {
  background-image: url('@{svg-sprite}#icon-close');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.2rem 1.2rem;
  fill: @text-color;
  height: 1.2rem;
  margin-top: -.6rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  width: 1.2rem;
}



/*.react-datepicker__close-icon::after {
  background-color: @global-color-secondary;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: @global-color-white;
  content: '\00d7';
  cursor: pointer;
  font-size: 1.2rem;
  height: 1.6rem;
  line-height: 1;
  margin: -.8rem auto 0;
  padding: .2rem;
  position: absolute;
  right: .7rem;
  text-align: center;
  top: 50%;
  width: 1.6rem;
}*/

.react-datepicker__today-button {
  background: @global-color-gray-lightest;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  font-weight: bold;
  padding: .5rem 0;
  text-align: center;
}

.react-datepicker__tether-element {
  z-index: 2147483647;
}
