.daterange__dropdown .menu__divider {
  margin-top: @global-whitespace-small;
  margin-bottom: @global-whitespace-small;
}

.daterange__dropdown .dropdown__menu {
  font-size: @global-font-size-small;
  width: 300px;
}

.daterange__dropdown .dropdown__menu .dropdown__menu__divider {
  width: 90%;
  margin: 0 auto;
  margin-top: @global-whitespace-small;
  margin-bottom: @global-whitespace-small;
}

.daterange__dropdown .dropdown__menu .dropdown__menu__scroll {
  overflow-y: unset;
  max-height: inherit;
  overflow: visible;
}

.daterange__dropdown .dropdown__menu .date-range__label {
  font-weight: @global-font-weight-bold;
}

.daterange__dropdown .form__group label {
  color: @global-color-gray;
  margin-bottom: 0;
}

.react-datepicker__input-container input {
  @media (max-width: @global-screen-xsmall-min) {
    font-size: @global-font-size-small;
  }
}

