// Note: https://github.com/Hacker0x01/react-datepicker

//
// Variables
//


@datepicker-border-color: @global-border-color;
@datepicker-border-radius: @global-border-radius;
@datepicker-border-radius-day: 50%;
@datepicker-day-size: 3.2rem;
@datepicker-nav-color: @global-color-gray;
@datepicker-nav-hover-color: @datepicker-nav-color;
@datepicker-nav-size: 1.25em;
@datepicker-shadow: @global-shadow-depth-1;
@datepicker-arrow-offset: @global-whitespace-small + 0.2rem;


//
// Component
//

.react-datepicker {
  background-color: @global-color-white;
  border: 1px solid @datepicker-border-color;
  border-radius: @datepicker-border-radius;
  box-shadow: @datepicker-shadow;
  display: inline-block;
  position: relative;
  font-size: @global-font-size-small;
}

// 1. Override surrounding area margin rules
.react-datepicker-popper {
  z-index: 2147483647;

  &::before {
    background: @dropdown-bg;
    border: 1px solid @dropdown-border;
    border-bottom-left-radius: @global-border-radius;
    border-right: 0;
    border-top: 0;
    content: '';
    height: @dropdown-arrow-size;
    left: @dropdown-arrow-size;
    position: absolute;
    width: @dropdown-arrow-size;
    z-index: 1;
  }

  &[data-placement="bottom-start"] {
    margin-top: @dropdown-menu-offset !important; // 1

    &::before {
      top: (-@dropdown-arrow-size / 2);
      transform: rotate(135deg);
    }
  }

  &[data-placement="top-start"] {
    margin-bottom: @dropdown-menu-offset !important; // 1

    &::before {
      bottom: (-@dropdown-arrow-size / 2);
      transform: rotate(-45deg);
    }
  }
}

.react-datepicker__header {
  border-bottom: 1px solid @datepicker-border-color;
  border-top-left-radius: @datepicker-border-radius;
  border-top-right-radius: @datepicker-border-radius;
  padding-top: @global-whitespace-small;
  position: relative;
  text-align: center;
}

.react-datepicker__header__dropdown {
  display: flex;
  justify-content: center;
  padding: 0 @global-whitespace-small;
  margin-bottom: @global-whitespace-small;

  > * + * {
    margin-left: @global-whitespace-small;
  }
}

.react-datepicker__header__dropdown--select {
  > div {
    &:extend(.rhinoselect all);
  }

  select {
    &:extend(.rhinoselect__select);
    &:extend(.form__control);
    &:extend(.form__control--chevron);

    &::-ms-expand {
      display: none;
    }
  }
}

.react-datepicker__current-month {
  color: @global-color-gray-darker;
  font-size: @global-font-size-base;
  padding: 0 0 @global-whitespace-xsmall 0;
}

.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: @global-whitespace-base;
}

.react-datepicker__navigation {
  .button--reset;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: @datepicker-nav-size @datepicker-nav-size;
  cursor: pointer;
  height: @datepicker-nav-size;
  position: absolute;
  top: 1rem;
  width: @datepicker-nav-size;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  opacity: @global-opacity-disabled;

  &:hover {
    opacity: 1;
  }
}

@svg-load datepicker-caret-left url(../svg/caret-left.svg) {
  .icon-stroke {
    stroke: @global-font-color;
  }
}

.react-datepicker__navigation--previous {
  background-image: svg-inline(datepicker-caret-left);
  left: 1rem;
}

@svg-load datepicker-caret-right url(../svg/caret-right.svg) {
  .icon-stroke {
    stroke: @global-font-color;
  }
}

.react-datepicker__navigation--next {
  background-image: svg-inline(datepicker-caret-right);
  right: 1rem;
}

.react-datepicker__navigation--years {
  display: block;
  height: @global-height-small;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}

@svg-load datepicker-caret-up url(../svg/caret-up.svg) {
  .icon-stroke {
    stroke: @global-color-gray;
  }
}

.react-datepicker__navigation--years-previous,
.react-datepicker__navigation--years-upcoming {
  background-image: svg-inline(datepicker-caret-up);
}

.react-datepicker__month {
  margin: 0.5rem;
  text-align: center;
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-names {
  background: @global-color-panel;
  border-top: 1px solid @global-border-color;
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: @global-font-color;
  display: inline-block;
  line-height: @datepicker-day-size;
  margin: 2px;
  text-align: center;
  width: @datepicker-day-size;
}

.react-datepicker__day--outside-month {
  color: @global-font-color-muted;
}

.react-datepicker__day {
  border-radius: @datepicker-border-radius-day;
  cursor: pointer;

  &:hover {
    background-color: @global-color-panel;
  }
}

.react-datepicker__day--today {
  &:not(.react-datepicker__day--selected) {
    box-shadow: inset 0 0 0 1px @global-color-accent;
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: @global-color-secondary;
  color: @global-color-white;
  font-weight: normal;

  &:hover {
    background-color: darken(@global-color-secondary, 6%);
  }
}

.react-datepicker__day--disabled {
  background-color: transparent;
  color: @global-color-gray-light;
  cursor: default;

  &:hover {
    background-color: transparent;
  }
}

.react-datepicker__input-container {
  position: relative;
}

.react-datepicker__year-read-view {
  .u-text-underline;

  border: 1px solid transparent;
  border-radius: @datepicker-border-radius;
  bottom: 2.2rem;
  color: @global-color-primary;
  left: 25%;
  margin-bottom: 1rem;
  position: absolute;
  width: 50%;
}

.react-datepicker__year-read-view:hover {
  cursor: pointer;
}

.react-datepicker__year-read-view--selected-year {
  position: relative;
}

.react-datepicker__year-dropdown {
  background-color: @global-color-gray-lightest;
  border: 1px solid @global-border-color;
  border-radius: @datepicker-border-radius;
  left: 25%;
  position: absolute;
  text-align: center;
  top: 3rem;
  width: 50%;
}

.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-option {
  display: block;
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.react-datepicker__year-option:first-of-type {
  border-top-left-radius: @datepicker-border-radius;
  border-top-right-radius: @datepicker-border-radius;
}

.react-datepicker__year-option:last-of-type {
  border-bottom-left-radius: @datepicker-border-radius;
  border-bottom-right-radius: @datepicker-border-radius;
  user-select: none;
}

.react-datepicker__year-option:hover {
  background-color: @global-color-gray-lighter;
}


.react-datepicker__year-option--selected {
  left: 22%;
  position: absolute;
}

@svg-load datepicker-close url(../svg/close.svg) {
  .icon-stroke {
    stroke: @global-font-color;
  }
}

.react-datepicker__close-icon {
  background-image: svg-inline(datepicker-close);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.2rem 1.2rem;
  height: 1.2rem;
  margin-top: -0.6rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  width: 1.2rem;
}

.react-datepicker__today-button {
  background: @global-color-panel;
  border-top: 1px solid @global-border-color;
  cursor: pointer;
  padding: @global-whitespace-xsmall 0;
  text-align: center;
  font-size: @global-font-size-small;
}
