// File: dropdowns.less
// Note:


// -------------------------
// Dropdown
// -------------------------


.dropdown {
  display: inline-flex;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
}

.dropdown.open {
  > .dropdown__menu {
    display: block;
    opacity: 1;
    transform: translateY(.4rem);
    visibility: visible;
  }

  > .dropdown__menu--top {
    transform: translateY(-.4rem);
  }

  > a {
    outline: 0;
  }
}


// -------------------------
// Dropdown Modifier (Block)
// -------------------------


.dropdown--block {
  display: flex;

  .dropdown__toggle {
    width: 100%;

    .dropdown__toggle__caret {
      margin-left: auto;
    }
  }

  .dropdown__menu {
    width: 100%;
  }
}


// -------------------------
// Dropdown Modifier (Multiselect)
// -------------------------


.dropdown--multiselect { // lesshint depthLevel: false
  display: flex;
  margin-bottom: @margin-small;

  .mixin-chevron-down(); // add chevron

  .dropdown__menu {
    width: 100%;
  }

  .dropdown__menu__item.active > a {
    padding-right: 3rem;

    &,
    &:hover,
    &:focus {
      background-color: @dropdown-link-hover-bg;
      color: @dropdown-link-color;

      &::after {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.4rem 1.4rem;
        content: '';
        height: 1.4rem;
        pointer-events: none;
        position: absolute;
        right: @padding-large;
        top: 50%;
        transform: translateY(-50%);
        width: 1.4rem;
        .mixin-svg-bg-add-fill('@{svg-path}checkmark.svg', @color-primary);
      }
    }
  }
}

// -------------------------
// Dropdown Input
// -------------------------


/*.dropdown__input {
  cursor: pointer;
}*/


// -------------------------
// Dropdown Menu
// -------------------------


.dropdown__menu {
  background-clip: padding-box;
  background-color: @dropdown-bg;
  border: 1px solid @dropdown-border;
  border-radius: @border-radius-base;
  box-shadow: @shadow-depth-1;
  display: block;
  left: 0;
  list-style: none;
  margin: .2rem 0 0;
  opacity: 0;
  padding: @padding-xsmall 0;
  position: absolute;
  text-align: left;
  top: 90%;
  transition: opacity 250ms @trans-timing-cubic,
              transform 500ms @trans-timing-cubic;
  visibility: hidden;
  z-index: @zindex-dropdown;

  &::before {
    background: inherit;
    background-clip: border-box;
    border: inherit;
    border-bottom: 0;
    border-right: 0;
    content: '';
    left: 1.2rem;
    padding: .6rem;
    position: absolute;
    top: -.7rem;
    transform: rotate(45deg);
    z-index: -1;
  }
}


// -------------------------
// Dropdown Menu Modifiers
// -------------------------


.dropdown__menu--right {
  left: auto;
  right: 0;

  &::after,
  &::before {
    left: auto;
    right: 1.2rem;
  }
}

.dropdown__menu--top {
  bottom: 100%;
  top: auto;

  &::before {
    border-bottom: inherit;
    border-left: 0;
    border-right: inherit;
    border-top: 0;
    bottom: -.7rem;
    top: auto;
  }
}

.dropdown__menu--wide {
  min-width: 24rem;
}


// -------------------------
// Dropdown Menu Item
// -------------------------


.dropdown__menu__item {
  // Links within the dropdown menu
  > a {
    align-items: center;
    color: @dropdown-link-color;
    cursor: pointer;
    display: flex;
    font-weight: normal;
    line-height: @line-height-base;
    padding: @dropdown-padding;
    position: relative;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: @dropdown-link-hover-bg;
      color: @dropdown-link-hover-color;
      outline: 0;
      text-decoration: none;
    }
  }

  // Active state
  &.active > a {
    &,
    &:hover,
    &:focus {
      background-color: @dropdown-link-active-bg;
      color: @dropdown-link-active-color;
      outline: 0;
      text-decoration: none;
    }
  }
}


// -------------------------
// Dropdown Menu Container
// -------------------------
// Simply gives same padding as links.


.dropdown__menu__container {
  padding: @dropdown-padding;
}


// -------------------------
// Dropdown Menu Header
// -------------------------


.dropdown__menu__header {
  color: @dropdown-header-color;
  display: block;
  font-size: @font-size-small;
  line-height: @line-height-base;
  padding: @dropdown-padding;
  white-space: nowrap;
}


// -------------------------
// Dropdown Menu Divider
// -------------------------


.dropdown__menu__divider {
  background-color: @color-gray-lighter;
  height: .1rem;
  margin: @margin-xsmall 0;
  overflow: hidden;
}


// -------------------------
// Dropdown Menu Scroll
// -------------------------
// Scrollable menu content


.dropdown__menu__scroll {
  max-height: 20rem;
  overflow-y: auto;
  // fixes scrollbar position bug that results from translateY on dropdown__menu
  transform: translate3d(0px, 0px, 0px);
}



// -------------------------
// Dropdown Toggle
// -------------------------


/*.dropdown__toggle {
  &:active,
  &:focus {
    outline: 0;
  }
}*/


// -------------------------
// Dropdown Toggle Caret
// -------------------------


.dropdown__toggle__caret {
  fill: currentColor;
  height: @dropdown-chevron-size;
  line-height: 1;
  margin-left: @margin-small;
  min-width: @dropdown-chevron-size;
  position: relative;
  vertical-align: middle;
  width: @dropdown-chevron-size;

  // When used within a button, adjust top position
  .btn & {
    top: .1rem;
  }
}


// -------------------------
// Dropdown Toggle Icon
// -------------------------


.dropdown__toggle__icon {
  margin-right: @margin-xsmall;
}









