// File: icons.less
// Note:


// -------------------------
// Icon
// -------------------------


.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  min-width: 1em;
  position: relative;
  //top: -.1em;
  vertical-align: middle;
  width: 1em;
}


// -------------------------
// Icon Modifiers (Position)
// -------------------------


.icon--bump-down {
  top: .1rem;
}

.icon--bump-up {
  top: -.1rem;
}


