//
// Component
//


.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  min-width: 1em;
  position: relative;
  vertical-align: middle;
  width: 1em;
}


//
// Icon Modifiers (Position)
//


.icon--bump-down {
  top: 0.1rem;
}

.icon--bump-up {
  top: -0.1rem;
}
