// -------------------------
// Variables
// -------------------------


@label-accent-bg: @global-color-accent;
@label-danger-bg: @global-color-danger;
@label-default-bg: @global-color-gray;
@label-info-bg: @global-color-info;
@label-primary-bg: @global-color-primary;
@label-secondary-bg: @global-color-secondary;
@label-success-bg: @global-color-success;
@label-warning-bg: @global-color-warning;

@label-color: @global-color-white;
@label-link-hover-color: @global-color-white;

@label-padding-sides: .5rem;
@label-padding: 0 @label-padding-sides;


// -------------------------
// Component
// -------------------------


.label {
  align-items: center;
  border-radius: @global-border-radius;
  color: @label-color;
  display: inline-flex;
  font-size: 75%;
  font-weight: @font-weight-semibold;
  padding: @label-padding;
  position: relative;
  vertical-align: baseline;
  white-space: nowrap;

  &:empty {
    display: none;
  }
}

h1,
h2,
h3 {
  .label {
    font-size: 50%;
  }
}


// -------------------------
// Label Modifiers
// -------------------------


.label--accent {
  .mixin-label-variant(@label-accent-bg);
}

.label--danger {
  .mixin-label-variant(@label-danger-bg);
}

.label--default {
  .mixin-label-variant(@label-default-bg);
}

.label--info {
  .mixin-label-variant(@label-info-bg);
}

.label--primary {
  .mixin-label-variant(@label-primary-bg);
}

.label--secondary {
  .mixin-label-variant(@label-secondary-bg);
}

.label--warning {
  .mixin-label-variant(@label-warning-bg);
}


// -------------------------
// Label Icon
// -------------------------


.label__icon {
  margin-right: .2rem;
}
