// Fix for close button conflicting with `.close` Bootstrap styles
// Will be resolved in v4 of this lib
// https://github.com/fritz-c/react-image-lightbox/issues/33

.ril-close {
  background: url('@{svg-sprite}#icon-close') no-repeat 50% !important;
  background-size: 60% !important;
  fill: @global-color-white;
}
