// File: loaders.less
// Note:


// -------------------------
// Loader Line
// -------------------------


.loader-line {
  background: @gray-lighter;
  height: .2rem;
  overflow: hidden;
  position: relative;
  max-width: 20rem;
}

.loader-line__line {
  background: @brand-primary;
  display: inline-block;
  height: .2rem;
  position: absolute;
  width: 25%;
}

.loader-line__line:first-child {
  animation: loaderline1 1s infinite ease-in-out;
  //display: none;
}

.loader-line__line:last-child {
  animation: loaderline2 1s infinite ease-in-out;
  animation-delay: .05s;
  //display: none;
}

@keyframes loaderline1 {
  0% {
    transform: translateX(-50%);
  } 50% {
    transform: translateX(350%);
  } 100% {
    transform: translateX(-50%);
  }
}

@keyframes loaderline2 {
  0% {
    transform: translateX(-25%);
  } 50% {
    transform: translateX(325%);
  } 100% {
    transform: translateX(-25%);
  }
}


// -------------------------
// Loader Pulse
// -------------------------


.loader-pulse {
  display: inline-block;
}

.loader-pulse--accent {
  .loader-pulse__pulse {
    background: @brand-accent;
  }
}

.loader-pulse--default {
  .loader-pulse__pulse {
    background: @gray;
  }
}

.loader-pulse--secondary {
  .loader-pulse__pulse {
    background: @brand-secondary;
  }
}

.loader-pulse__pulse {
  animation: loaderpulse 1s infinite;
  animation-fill-mode: both;
  border-radius: 50%;
  display: inline-block;
  height: .8rem;
  opacity: .5;
  transform: scale(.75);
  width: .8rem;

  &:first-child {
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
  }

  &:nth-child(2) {
    -webkit-animation-delay: -0.125s;
    animation-delay: -0.125s;
    margin: 0 @margin-small;
  }
}

@keyframes loaderpulse {
  0%, 80%, 100% { 
    opacity: .5;
    transform: scale(.75);
  } 40% { 
    opacity: 1;
    transform: scale(1.25);
  }
}