// File: messages.less
// Note:


// -------------------------
// Messages
// -------------------------


.msg {
  border-radius: @msg-border-radius;
  display: inline-block;
  hyphens: auto;
  line-height: @msg-line-height;
  overflow-wrap: break-word;
  padding: @msg-padding;
  position: relative;
  vertical-align: middle;
  word-wrap: break-word;

  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}


// -------------------------
// Message Modifiers (Color)
// -------------------------


.msg--default {
  background: @color-gray-lighter;
}

.msg--note {
  background: #f6f2bc;

  a {
    color: inherit;
  }
}

.msg--primary {
  background: @color-primary-rich;
  color: @color-white;

  a {
    color: inherit;
  }
}


// -------------------------
// Message Modifiers (To/From)
// -------------------------


.msg--inbound,
.msg--outbound {
  &::before {
    background: inherit;
    background-clip: border-box;
    border: inherit;
    border-bottom: 0;
    border-right: 0;
    content: '';
    padding: .6rem;
    position: absolute;
    top: 1.4rem;
  }
}

.msg--inbound {
  margin-left: @msg-margin;

  &::before {
    left: -.5rem;
    transform: rotate(45deg);
  }
}

.msg--outbound {
  margin-right: @msg-margin;

  &::before {
    right: -.5rem;
    transform: rotate(-45deg);
  }
}


