// File: messages.less
// Note:


// -------------------------
// Messages
// -------------------------


.msg {
  border-radius: @msg-border-radius;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  display: inline-block;
  line-height: 1;
  padding: @msg-padding;
  position: relative;
  vertical-align: middle;
  //white-space: nowrap;
  z-index: 0;

  &:empty {
    display: none;
  }

  a {
    color: inherit;
    font-weight: @font-weight-light;
    opacity: 0.85;
    //text-decoration: underline;

    &:hover {
      opacity: 1;
    }
  }
}


// -------------------------
// Message Modifiers (Color)
// -------------------------


.msg--default {
  background: @color-white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.msg--note {
  background: #fefbd0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  //color: @color-white;
}

.msg--primary {
  background: @color-primary;
  box-shadow: 0 2px 2px darken(@color-primary, 12%);
  color: @color-white;
}

.msg--secondary {
  background: @color-secondary;
  box-shadow: 0 2px 2px darken(@color-secondary, 12%);
  color: @color-white;
}


// -------------------------
// Message Modifiers (To/From)
// -------------------------


.msg--to {
  &::after {
    background: inherit;
    background-clip: border-box;
    border: inherit;
    border-bottom: 0;
    border-right: 0;
    content: '';
    left: -.4rem;
    padding: .6rem;
    position: absolute;
    top: 1.2rem;
    transform: rotate(45deg);
    z-index: -1;
  }
}
