// File: messages.less
// Note:


// -------------------------
// Messages
// -------------------------


.msg {
  border-radius: @msg-border-radius;
  display: inline-block;
  hyphens: auto;
  line-height: @msg-line-height;
  overflow-wrap: break-word;
  padding: @msg-padding;
  position: relative;
  vertical-align: middle;
  word-wrap: break-word;

  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}


// -------------------------
// Message Modifiers (Color)
// -------------------------


.msg--default {
  background: @msg-default-bg;

  &::before,
  &::after {
    background: @msg-default-bg;
  }
}

.msg--note {
  background: @msg-note-bg;

  &::before,
  &::after {
    background: @msg-note-bg;
  }

  a {
    color: inherit;
  }
}

.msg--primary {
  background: @msg-primary-bg;
  color: @color-white;

  &::before,
  &::after {
    background: @msg-primary-bg;
  }

  a {
    color: inherit;
  }
}


// -------------------------
// Message Modifiers (To/From)
// -------------------------


.msg--inbound,
.msg--outbound {
  &::before,
  &::after {
    border-radius: 50%;
    bottom: 0;
    content: '';
    position: absolute;
  }

  &::before {
    height: @msg-bubble-size;
    width: @msg-bubble-size;
  }

  &::after {
    height: @msg-bubble-offset-small;
    width: @msg-bubble-offset-small;
  }
}

.msg--inbound {
  margin-left: @whitespace-small;

  &::before,
  &::after {
    left: 0;
  }

  &::before {
    transform: translate((-@msg-bubble-offset), @msg-bubble-offset);
  }

  &::after {
    transform: translate((-@msg-bubble-offset-small * .9), (@msg-bubble-offset-small * .9));
  }
}

.msg--outbound {
  margin-right: @whitespace-small;

  &::before,
  &::after {
    right: 0;
  }

  &::before {
    transform: translate(@msg-bubble-offset, @msg-bubble-offset);
  }

  &::after {
    transform: translate((@msg-bubble-offset-small * .9), (@msg-bubble-offset-small * .9));
  }
}
