// File: navs.less
// Note:


// -------------------------
// Nav Tabs
// -------------------------


.nav-tabs {
  border-bottom: 1px solid @border-color-base;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-tabs__item {
  margin-bottom: -1px;
}

.nav-tabs__item__link {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: flex;
  padding: @nav-link-padding;
  position: relative;

  .active & {
    background-color: @body-bg;
    border-bottom-color: transparent;
    border-left-color: @border-color-base;
    border-right-color: @border-color-base;
    color: @text-color;

    &::after {
      background: @brand-primary;
      content: '';
      display: block;
      height: .3rem;
      left: -1px;
      position: absolute;
      right: -1px;
      top: 0;
    }
  }
}
