// File: notifications.less
// Note:


// -------------------------
// Notify
// -------------------------


.notify {
  border-radius: @notify-border-radius;
  color: @notify-text;
  font-weight: @notify-font-weight;
  margin-bottom: @margin-small;
  max-width: 50rem;
  padding: @notify-padding;
  position: relative;

  > .icon {
    margin-right: @margin-xsmall;
  }
}


// -------------------------
// Notify Modifiers
// -------------------------


.notify--danger {
  background: @brand-danger;
}

.notify--default {
  background: @gray-dark;
}

.notify--secondary {
  background: @brand-secondary;
}



// -------------------------
// Notify Close
// -------------------------


.notify__close {
  &:extend(.close);
  float: none;
  position: absolute;
  right: 0.8rem;
  top: 1rem;

  &:hover,
  &:focus {
    color: inherit;
    cursor: pointer;
    opacity: 0.75;
    outline: none;
    text-decoration: none;
  }

  button& {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}


// -------------------------
// Notify Link
// -------------------------

.notify__link {
  color: @notify-text;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
