//
// Variables
//


@pill-default-bg: @global-color-panel;
@pill-default-color: @global-font-color;
@pill-default-border: @global-border-color;

@pill-primary-bg: @global-color-white;
@pill-primary-color: @global-color-primary;
@pill-primary-border: @pill-primary-color;

@pill-close-size: 0.75em;

@pill-padding: @global-whitespace-xsmall @global-whitespace-small;


//
// Component
//


.pill {
  align-items: center;
  background: @pill-primary-bg;
  border: 1px solid transparent;
  border-radius: @global-border-radius;
  color: @pill-primary-color;
  display: inline-flex;
  font-size: @global-font-size-small;
  line-height: @global-line-height-base;
  padding: @pill-padding;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;

  &:empty {
    display: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: @global-opacity-disabled;
    pointer-events: none;
  }
}

.pill--default {
  color: @pill-default-color;
  border-color: @pill-default-border;
  background: @pill-default-bg;
}

.pill--primary {
  color: @pill-primary-color;
  border-color: @pill-primary-border;
  background: @pill-primary-bg;
}

//
// Pill Close
//


.pill__close {
  width: @pill-close-size;
  height: @pill-close-size;
  color: currentColor;
  margin-left: @global-whitespace-xsmall;
}


//
// Pill Icon
//


.pill__icon {
  margin-right: @global-whitespace-xsmall;
}
