//
// Variables
//


@resource-active-background: @global-color-primary-light;
@resource-active-inset-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);

@resource-min-height: 50px;
@resource-padding-horizontal: @global-whitespace-base;
@resource-padding-vertical: @global-whitespace-base;
@resource-interface-size: 2rem;
@resource-unread-size: 1rem;
@resource-icon-size: 1.25em;
@resource-checkbox-margin: 1.7em;
@resource-avatar-size: @avatar-size-small;

@resource-interface-active-decrease: 0.6rem;


//
// Mixins
//

.mixin-resource-active-tab() {
  &::before {
    content: '';
    width: 4px;
    height: 100%;
    background: @global-color-primary;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

//
// Component
//

.resource-group__container {
  & + & {
    margin-top: @global-whitespace-base;
  }
}

.resource-group {
  border: 1px solid @global-border-color;
  background: @global-color-white;
}

// Used around `<Scrollbars />` component
.resource-group__scroll {
  overflow-y: auto;
  border: 1px solid @global-border-color;

  .resource-group {
    border: 0;
  }
}

.resource-group__scroll--checkbox {
  overflow-y: auto;

  .resource-group {
    border: 0;
  }
}

.resource-group__separator {
  display: flex;
  align-items: center;
  position: relative;
  font-size: @global-font-size-small;
  margin: 0 0 @global-whitespace-base 0;
  color: @global-font-color-muted;

  &::before,
  &::after {
    content: '';
    display: inline-flex;
    flex: 1;
    height: 2px;
  }

  &::before {
    background: linear-gradient(to right, fadeout(@global-border-color, 100%), @global-border-color);
    margin-right: @global-whitespace-small;
  }

  &::after {
    background: linear-gradient(to left, fadeout(@global-border-color, 100%), @global-border-color);
    margin-left: @global-whitespace-small;
  }
}

// 1. Resolve `position: relative` elements inside of scroll container being cut-off
// https://stackoverflow.com/a/8733719/1026742
.resource__wrapper {
  padding: @resource-padding-vertical @resource-padding-horizontal;
  cursor: pointer;
  transform: translate3d(0, 0, 0); // 1
  min-height: @resource-min-height;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(.has-interface):not(.is-unavailable) {
    .mixin-resource-active-tab();
  }

  &.is-active,
  &:not(.has-interface):hover,
  &:not(.has-interface):focus {
    &::before {
      opacity: 1;
    }
  }

  &.is-active {
    background: @resource-active-background;
  }

  &:active {
    box-shadow: inset @resource-active-inset-shadow;
  }

  &.has-interface {
    .resource {
      padding-right: (@resource-interface-size + @global-whitespace-xsmall);
    }

    .resource::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: @resource-interface-size;
      height: @resource-interface-size;
      z-index: 1;
    }

    &.is-radio {
      .resource::after {
        border: 1px solid @global-border-color;
      }
    }

    .resource-group\@small & {
      .resource::after {
        transform: none;
        top: 0;
      }
    }
  }

  &.is-checkbox,
  &.is-radio {
    &.is-selected {
      .resource::before {
        content: '';
        z-index: 2;
        position: absolute;
        top: 50%;
        right: ((@resource-interface-active-decrease / 2));
        transform: translateY(-50%);
        width: (@resource-interface-size - @resource-interface-active-decrease);
        height: (@resource-interface-size - @resource-interface-active-decrease);
      }

      .resource-group\@small & {
        .resource::before {
          transform: none;
          top: (@resource-interface-active-decrease / 2);
        }
      }
    }
  }

  @svg-load checkmark url(../svg/checkmark.svg) {
    .icon-stroke {
      stroke: @global-color-white;
    }
  }

  &.is-checkbox:not(.is-unavailable) {
    &.is-selected {
      .resource::before {
        background-image: svg-inline(checkmark);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .resource::after {
        background: @global-color-secondary;
        border-radius: 50%;
      }
    }
  }

  &.is-radio:not(.is-unavailable) {
    .resource::after {
      border-radius: 50%;
    }

    &.is-selected {
      .resource::before {
        background: @global-color-primary;
        border-radius: 50%;
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;

    .resource__intro,
    .resource__body,
    .resource__right {
      opacity: @global-opacity-disabled;
    }
  }

  // We need to be a bit more relaxed with our borders since the container query watcher can get mixed in next to each `<Resource />` as state changes
  ~ .resource__wrapper {
    border-top: 1px solid @global-border-color;
  }
}

.resource {
  display: flex;
  align-items: center;
  position: relative;

  &--is-unavailable {
    .resource__intro,
    .resource__body {
      opacity: @global-opacity-disabled;
    }
  }

  // 1. To allow for body to break to next line
  .resource-group\@small & {
    align-items: flex-start;
    flex-wrap: wrap; // 1

    // 1
    &:not(.has-right-column) {
      .resource__intro {
        width: 100%;
        margin-right: 0;
      }
    }

    // 1
    &.has-right-column {
      .resource__intro {
        width: 65%;
      }
    }
  }

  // Add right spacing to body (only on small screens) when right column follows
  .resource__body:not(:last-child) {
    margin-right: @global-whitespace-small;

    .resource-group\@small & {
      margin-right: 0;
    }
  }

  > :only-child {
    margin-right: 0;
  }
}

// 1. Hide avatar on small sizes
.resource__intro {
  display: flex;
  align-items: flex-start;
  margin-right: @global-whitespace-small;
  width: 300px;

  &.has-avatar {
    align-items: center;
  }

  .rhinobox__input {
    position: absolute !important;
    -webkit-appearance: none;
    height: 2rem !important;
    width: 2rem !important;
    z-index: 1;
    cursor: pointer;
    clip: auto;
    -moz-appearance: none;
    top: 0;

    &::-ms-check {
      visibility: hidden;
    }
  }
}

// 1. Match width of small avatar
.resource__intro__media {
  flex: none;
  width: @resource-avatar-size;
  margin-right: @global-whitespace-small;
  position: relative;

  // Only impact sizing of "non avatar" icons
  .icon:not(.avatar__icon) {
    width: @resource-icon-size;
    height: @resource-icon-size;
  }

  // Hide media @xsmall size if class is present
  &.resource__intro__media--hidden\@xsmall {
    .resource-group\@xsmall & {
      display: none;
    }
  }
}

.resource__intro__media--icon {
  &.resource__intro__media--checkbox {
    margin-right: @resource-checkbox-margin;
  }

  width: @resource-icon-size;
}

.resource__intro__media--checkbox {
  width: @resource-checkbox-margin;

  .rhinobox {
    padding-right: 0.4em;
  }
}

.resource__intro__title-wrapper {
  min-width: 0;
  width: 100%;
}

.resource__intro__title {
  display: flex;
  align-items: baseline;
  position: relative;

  .resource-group\@xsmall & {
    flex-direction: column;
    align-items: flex-start;
  }
}

.resource__intro__title__content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.has-subtitle {
    margin-right: @global-whitespace-small;
  }

  .resource-group\@xsmall & {
    width: 100%;

    &.has-subtitle {
      margin-right: 0;
    }
  }

  .is-active &,
  .is-unread & {
    font-weight: @global-font-weight-bold;
  }

  .is-unread & {
    &::before {
      content: '';
      display: inline-block;
      margin-right: @global-whitespace-xsmall;
      width: @resource-unread-size;
      height: @resource-unread-size;
      background: fadeout(@global-color-primary, 75%);
      border: 1px solid @global-color-primary;
      border-radius: 50%;
    }
  }
}

.resource__intro__title__sub {
  font-size: @global-font-size-small;
  color: @global-font-color-muted;
  white-space: nowrap;
  flex: auto;

  // Hide media @xsmall size if class is present
  &.resource__intro__title__sub--hidden\@xsmall {
    .resource-group\@xsmall & {
      display: none;
    }
  }
}

.resource__intro__title__meta {
  font-size: @global-font-size-small;
}

.resource__body {
  flex: 1;
  font-size: @global-font-size-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;

  // 1. To break to its own line
  .resource-group\@small & {
    margin-top: @global-whitespace-small;
    order: 1;
    flex: none;
    width: 100%;
  }
}

.resource__right {
  text-align: right;
  margin-left: auto;
  font-size: @global-font-size-xsmall;
  align-self: center;

  &.resource__right--no-flex {
    max-width: 120px;
    flex: none;
  }

  &:not(.resource__right--no-flex) {
    flex: 0 0 20%;
    min-width: 120px;
  }

  // 1. To break to its own line
  .resource-group\@small & {
    flex: 1;
    min-width: 0;
  }
}

.resource__bottom {
  margin-top: @global-whitespace-small;
}
