//
// Variables
//

@resource-min-height: 50px;
@resource-padding: @global-whitespace-base;
@resource-interface-size: 2rem;

@resource-interface-active-decrease: 0.6rem;

//
// Component
//

.resource-group {
  border: 1px solid @global-border-color;
}

.resource {
  display: flex;
  min-height: @resource-min-height;
  align-items: center;
  padding: @resource-padding;
  position: relative;
  cursor: pointer;

  & + & {
    border-top: 1px solid @global-border-color;
  }

  &.is-active {
    &::before {
      content: '';
      width: 4px;
      height: 100%;
      background: @global-color-primary;
      position: absolute;
      left: 0;
    }
  }

  &.has-interface {
    padding-right: (@resource-padding + @resource-interface-size + @global-whitespace-xsmall);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: (@resource-interface-size / 2);
      transform: translateY(-50%);
      width: @resource-interface-size;
      height: @resource-interface-size;
      border: 1px solid @global-border-color;
      z-index: 1;
    }
  }

  &.is-checkbox,
  &.is-radio {
    &.is-selected {
      &::before {
        content: '';
        z-index: 2;
        position: absolute;
        top: 50%;
        right: ((@resource-interface-size / 2) + (@resource-interface-active-decrease / 2));
        transform: translateY(-50%);
        width: (@resource-interface-size - @resource-interface-active-decrease);
        height: (@resource-interface-size - @resource-interface-active-decrease);
      }
    }
  }

  &.is-checkbox {
    &.is-selected {
      &::before {
        fill: @global-color-secondary;
        background-image: url('@{svg-sprite}#icon-checkmark');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &.is-radio {
    &::after {
      border-radius: 50%;
    }

    &.is-selected {
      &::before {
        background: @global-color-primary;
        border-radius: 50%;
      }
    }
  }

  > :only-child {
    margin-right: 0;
  }
}

.resource__column-left-wrapper {
  display: flex;
  align-items: center;
  margin-right: @global-whitespace-base;
  width: 100%;

  > :only-child {
    margin-right: 0;
    flex-basis: 100%;
  }
}

.resource__column-left__intro {
  display: flex;
  align-items: center;
  margin-right: @global-whitespace-base;
  width: 100%;
  flex-basis: 300px;
}

// 1. Match width of small avatar
.resource__column-left__intro__media {
  flex: none;
  text-align: center;
  width: @avatar-size-small;
  margin-right: @global-whitespace-small;
}

.resource__column-left__intro__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.resource__column-left__intro__title__sub {
  font-size: @global-font-size-small;
  color: @global-font-color-muted;
  margin-left: @global-whitespace-small;
}

.resource__column-left__intro__title__meta {
  flex: 100%;
  font-size: @global-font-size-small;
  color: @global-color-accent;
}

.resource__column-left__body {
  flex: 1;
  font-size: @global-font-size-small;
}

.resource__column-right-wrapper {
  margin-left: auto;
  font-size: @global-font-size-xsmall;
}
