// Note: Documentation styles

@import 'rhinostyle';
@import (inline) '../../node_modules/codemirror/lib/codemirror.css';

code {
  background: darken(@global-color-gray-lightest, 1%);
  border-radius: @global-border-radius;
  color: @global-color-gray;
  font-size: 1.4rem;
  padding: .2rem .4rem;
}

pre {
  background-color: @global-color-gray-lighter;
  border-radius: @global-border-radius;
  font-size: 1.4rem;
  padding: @global-whitespace-base;
}


@zindex-site-navigation: 20;
@zindex-site-overlay: 15;
@zindex-site-panel: 30;
@zindex-site-wrapper: 1;
@site-navigation-bg: @global-color-primary;
@site-navigation-width: 24rem;
@site-panel-width: 42rem;

@global-header-height: 6rem;


// -------------------------
// Site Content
// -------------------------


.site-content {
  margin: 0 auto;
  max-width: @global-screen-lg-min;
  padding: @grid-gutter-width / 2;
  position: relative;

  @media (min-width: @global-screen-lg-min) {
    padding: @grid-gutter-width;
  }
}

.site-example-alerts {
  .alert:not(:last-child) {
    margin-bottom: @global-whitespace-large;
  }
}

.site-example-buckets {
  .bucket:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.site-example-bucketheaders {
  .bucket__header:not(:last-child) {
    margin-bottom: @global-whitespace-large;
  }
}

.site-example-systemalerts {
  .system-alert:not(:last-child) {
    margin-bottom: @global-whitespace-large;
  }
}

.site-example-tables {
  .responsive-table:not(:last-child) {
    margin-bottom: 4rem;
  }

  .responsive-table:last-child {
    margin-bottom: 0;
  }

  .table {
    margin-bottom: 0;
  }
}

.site-example-toasts {
  .toast:not(:last-child) {
    margin-bottom: @global-whitespace-large;
  }
}

.site-example-utility {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  h4 {
    margin-bottom: @global-whitespace-xsmall;
  }
}

.site-example-utility__flex-item {
  border: 1px dotted @global-color-gray-light;
  color: @global-color-gray;
  font-weight: @font-weight-light;
  padding: 0 @global-whitespace-base;
}

.site-example-utility__panel {
  background: @global-color-gray-lightest;
  padding: @global-gutter;

  p:last-child {
    margin-bottom: 0;
  }
}

.site-example-utility__text-color {
  [class*='u-text-'] {
    margin-right: @global-whitespace-small;
  }
}

.site-example-utility__margin {
  background-color: @global-state-warning-bg;
  display: inline-block;

  &:not(:last-child) {
    margin-right: @global-whitespace-large;
  }
}

.site-example-utility__margin__default-item,
.site-example-utility__margin__item {
  background-color: rgba(255, 255, 255, .5);
  display: inline-block;
  padding: @global-whitespace-small;
}

.site-example-utility__margin__default-item {
  margin: @global-whitespace-xlarge;
}


.site-example-utility__padding {
  background-color: @global-state-info-bg;
  display: inline-block;

  &:not(:last-child) {
    margin-right: @global-whitespace-large;
  }
}

.site-example-utility__padding__default-item,
.site-example-utility__padding__item {
  background-clip: content-box;
  background-color: rgba(255, 255, 255, .5);
  display: inline-block;
}

.site-example-utility__padding__default-item {
  padding: @global-whitespace-xlarge;
}


// -------------------------
// Site Copy
// -------------------------


.site-copy {
  margin-bottom: 2rem;
  //max-width: 100rem;
}


// -------------------------
// Site Grid
// -------------------------


.site-grid-box {
  background: @global-color-gray-lightest;
  border: 1px solid @global-color-gray-light;
  min-height: 4rem;
  padding: 0 1rem;
}


.site-grid-box-container {
  background: @global-color-gray-lightest;
  border: 1px solid @global-color-gray-light;
  padding: @global-half-gutter;
}


// -------------------------
// Site Header
// -------------------------


.site-header {
  align-items: center;
  background-color: @global-color-gray-lightest;
  display: flex;
  height: @global-header-height;
  padding: 0 @global-half-gutter;
  transition: transform 250ms @global-trans-timing-cubic;
}

.site-header__logo {
  display: none;
  position: relative;
  top: -.2rem;
  width: 7.2rem;

  > img {
    display: inline-block;
    height: 4.6rem;
    max-width: 100%;
  }

  @media (min-width: @global-screen-lg-min) {
    display: block;
  }
}

.site-header__menu {
  cursor: pointer;
  margin-right: @global-half-gutter;

  @media (min-width: @global-screen-lg-min) {
    display: none;
  }
}

.site-header__menu__bar {
  background-color: @global-color-gray-dark;
  height: .3rem;
  width: 2.2rem;

  & + & {
    margin-top: .3rem;
  }
}

.site-header__title {
  color: @global-color-primary;
  display: flex;
  flex: 1;
  font-size: 2.2rem;
  font-weight: @font-weight-light;
  min-width: 0;
  position: relative;
  text-shadow: 1px 1px 1px @global-color-white;

  @media (min-width: @global-screen-sm-min) {
    font-size: 2.8rem;
  }
}

.site-header__title__treatment {
  font-weight: @font-weight-semibold;
}


// -------------------------
// Site Headline
// -------------------------


.site-headline {
  display: none;
}


// -------------------------
// Site Miniheadline
// -------------------------


.site-miniheadline {
  color: @global-color-accent;
  font-weight: normal;
  text-transform: uppercase;
}


// -------------------------
// Site Navigation
// -------------------------


.site-navigation {
  -webkit-overflow-scrolling: touch;
  background-color: @site-navigation-bg;
  bottom: 0;
  min-height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translateX(-@site-navigation-width);
  width: @site-navigation-width;
  z-index: @zindex-site-navigation;

  .no-touch & {
    overflow-y: auto;
  }
}


.site-navigation__nav {
  &:extend(.list-unstyled);
  padding-top: @grid-gutter-width / 2;

  > li {
    padding: 0 @grid-gutter-width / 2;

    &:not(:first-child) {
      margin-top: .6rem;
    }
  }
}

.site-navigation__nav__btn {
  border-radius: @global-border-radius;
  color: @global-color-white;
  display: block;
  //font-weight: @font-weight-light;
  padding: @global-whitespace-small @global-half-gutter;
  transition: background-color 250ms @global-trans-timing-cubic;

  .no-touch & {
    &:hover,
    &:focus {
      background-color: lighten(@site-navigation-bg, 3%);
      box-shadow: none;
    }
  }

  &.active {
    background-color: lighten(@site-navigation-bg, 6%) !important;
  }

  /*@media (min-height: 1100px) {
    padding: @global-whitespace-base @global-half-gutter;
  }*/
}


// -------------------------
// Site Modal
// -------------------------


.site-modal .modal {
  bottom: auto;
  display: block;
  left: auto;
  position: relative;
  right: auto;
  top: auto;
  z-index: 1;
}


// -------------------------
// Site Overlay
// -------------------------


.site-overlay {
  background-color: black;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: @zindex-site-overlay;
}


// -------------------------
// Site Scaffolding
// -------------------------

// Hide by default
// GSAP does it's thing to handle showing body when animation is complete

html {
  opacity: 0;

  &[data-nav-loaded] {
    opacity: 1;
  }
}

// -------------------------
// Site Section
// -------------------------


.site-section {
  margin-bottom: 8rem;
}


// -------------------------
// Site Subheadline
// -------------------------


.site-subheadline {
  align-items: center;
  border-bottom: 1px solid @global-color-gray-lighter;
  display: flex;
  font-size: 2.6rem;
  font-weight: @font-weight-semibold;
  margin-bottom: 3rem;
  padding-bottom: @global-whitespace-large;
  //text-decoration: underline;
}


// -------------------------
// Site Swatches
// -------------------------


.site-swatch {
  border: 1px solid @global-color-gray-light;
  display: inline-block;
  max-width: 20rem;
  padding: @global-whitespace-small;
  width: 100%;
}

.site-swatch__sample {
  align-items: center;
  display: flex;
  height: 12rem;
  justify-content: center;

  > .icon {
    font-size: 6rem;
  }
}

.site-swatch__text {
  padding: @global-whitespace-large 0 @global-whitespace-small 0;
  text-align: center;
}


// -------------------------
// Site Text Lead
// -------------------------


.site-text-lead {
  font-size: @font-size-large;
  font-weight: @font-weight-light;
}


// -------------------------
// Site Wrapper
// -------------------------


.site-wrapper {
  backface-visibility: hidden; // fix primary color change bug
  position: relative;
  z-index: @zindex-site-wrapper;
}


// -------------------------
// Code Mirror Playground
// -------------------------

.playground > div > ul {
  list-style: none;
  margin-bottom: 3rem;
  padding-left: 0;

  li {
    //color: @global-color-gray-dark;
    margin-bottom: @global-whitespace-xsmall;

    b:first-of-type {
      color: @global-state-info-text;
      font-weight: @font-weight-semibold;
    }

    b:last-of-type {
      color: @global-state-danger-text;
      font-size: 1.4rem;
      font-weight: @font-weight-semibold;
    }
  }
}

.playgroundCode { // lesshint selectorNaming: false
  margin-bottom: @global-half-gutter;
}

.playgroundError { // lesshint selectorNaming: false
  background: @global-color-danger;
  color: @global-color-white;
  font-family: @font-family-monospace;
  font-size: 1.4rem;
  margin-bottom: @global-half-gutter;
  padding: @global-whitespace-small;
  white-space: pre-wrap;
}

.CodeMirror-wrap { // lesshint selectorNaming: false
  border: 1px solid @global-border-color-base;
}

.CodeMirror-code { // lesshint selectorNaming: false
  font-size: 1.4rem;
}
