// -------------------------
// Variables
// -------------------------

@toast-border-radius: @global-border-radius;
@toast-font-weight: @font-weight-light;
@toast-offset: 1rem;
@toast-padding: @global-whitespace-base;
@toast-text: @global-color-white;


// -------------------------
// Component
// -------------------------


// -------------------------
// Toasts Container
// -------------------------


.toasts-container {
  left: @toast-offset;
  position: fixed;
  right: @toast-offset;
  top: @toast-offset;
  z-index: @zindex-toast;

  @media (min-width: @global-screen-xs-min) {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: ~'calc(@{global-screen-xs-min} - (@{toast-offset} * 2))';
  }
}


// -------------------------
// Toast
// -------------------------


.toast {
  align-items: center;
  border-radius: @toast-border-radius;
  color: @toast-text;
  display: flex;
  line-height: @line-height-small;
  max-width: 80rem;
  padding: @toast-padding;
  position: relative;
}


// -------------------------
// Toast Modifiers
// -------------------------


.toast--danger {
  background: @global-color-danger;
}

.toast--default {
  background: @global-color-gray;
}

.toast--success {
  background: @global-color-secondary;
}



// -------------------------
// Toast Close
// -------------------------


.toast__close {
  margin-left: auto;
}


// -------------------------
// Toast Icon
// -------------------------


.toast__icon {
  font-size: @font-size-base + .2rem;
  margin-right: @global-whitespace-small;
}


// -------------------------
// Toast Link
// -------------------------


.toast__link {
  color: @toast-text;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
