//
// Variables
//

@toast-border-radius: @global-border-radius;
@toast-offset: @global-whitespace-base;
@toast-spacing: @global-whitespace-small;
@toast-text: @global-color-white;

@toast-zindex: 2000;


//
// Component
//


//
// Toasts Container
//


.toasts-container {
  left: @toast-offset;
  position: fixed;
  right: @toast-offset;
  top: @toast-offset;
  z-index: @toast-zindex;

  @media (min-width: @global-screen-xsmall-min) {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: ~'calc(@{global-screen-xsmall-min} - (@{toast-offset} * 2))';
  }
}


//
// Toast
//


.toast {
  align-items: center;
  display: flex;
  border-radius: @toast-border-radius;
  color: @toast-text;
  max-width: 80rem;
  padding: @toast-spacing;
  position: relative;
}


//
// Toast Modifiers
//


.toast--danger {
  background: @global-color-danger;
}

.toast--default {
  background: @global-color-gray;
}

.toast--success {
  background: @global-color-secondary;
}


//
// Toast Text
//


.toast__text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: @toast-spacing;
  min-width: 0;
}


//
// Toast Close
//


// Stick close button to right
.toast__close {
  margin-left: auto;
}


//
// Toast Icon
//


.toast__icon {
  font-size: @global-font-size-medium;
  margin-right: @toast-spacing;
}


//
// Toast Link
//


.toast__link {
  color: @toast-text;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: currentColor;
    text-decoration: underline;
  }
}
