.toggle-button--strikethrough {
  text-decoration: line-through;
  color: @global-color-gray-light !important;
  border-color: @global-color-gray-light !important;
}

.toggle-button {
  appearance: none;
  margin: 0;
  border: 1px solid @global-color-primary;
  overflow: hidden;
  font: inherit;
  font-weight: @button-font-weight;
  color: @global-color-primary;
  text-transform: none;
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  border-radius: @button-border-radius;
  transition: @button-transition;
  position: relative;
  margin-top: @global-whitespace-small;
  line-height: ~'calc(@{global-height-small} - (2px))';
  font-size: @button-font-size-base;
  text-align: left;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
