//
// Variables
//


@tooltip-arrow-size: 1rem;
@tooltip-zindex: 1050;
@tooltip-background-light: @global-color-white;
@tooltip-background-dark: @global-color-gray-darker;


//
// Component
//


.tooltip {
  position: absolute;
  z-index: @tooltip-zindex;
  display: block;
  font-size: @global-font-size-small;
  opacity: 0;
  padding: ~'calc(@{tooltip-arrow-size} + 1px)';

  &-inner {
    max-width: 250px;
    padding: @global-whitespace-small;
    border-radius: @global-border-radius;
    word-wrap: break-word;
    text-align: center;
    position: relative;
    box-shadow: @global-shadow-depth-1;
    &::after {
      content: '';
      width: @tooltip-arrow-size;
      height: @tooltip-arrow-size;
      position: absolute;
      border: 1px solid @global-border-color;
      border-bottom-left-radius: @global-border-radius;
      border-right: 0;
      border-top: 0;
    }
  }

  &-inner--light {
    background: @tooltip-background-light;
    border: 1px solid @global-border-color;
    color: @global-font-color;
    &::after {
      background: @tooltip-background-light;
    }
  }
  
  &-inner--dark {
    border: none;
    background: @tooltip-background-dark;
    color: @global-color-white;
    &::after {
      background: @tooltip-background-dark;
    }
  }

  &--top {
    .tooltip-inner {
      // 1. Quirky calculation bug when `rotate()` is used
      &::after {
        left: 50%;
        bottom: ~'calc(-(@{tooltip-arrow-size} / 2) - 1px)'; // 1
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }

  &--right {
    .tooltip-inner {
      // 1. Quirky calculation bug when `rotate()` is used
      &::after {
        left: ~'calc(-(@{tooltip-arrow-size} / 2) - 1px)'; // 1
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  &--bottom {
    .tooltip-inner {
      // 1. Quirky calculation bug when `rotate()` is used
      &::after {
        top: ~'calc(-(@{tooltip-arrow-size} / 2) - 1px)'; // 1
        left: 50%;
        transform: translateX(-50%) rotate(135deg);
      }
    }
  }

  &--left {
    .tooltip-inner {
      // 1. Quirky calculation bug when `rotate()` is used
      &::after {
        right: ~'calc(-(@{tooltip-arrow-size} / 2) - 1px)'; // 1
        top: 50%;
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }
}
