//
// Variables
//


@tooltip-arrow-size: 0.5rem;
@tooltip-zindex: 1050;
@tooltip-background: @global-color-black;


//
// Component
//


.tooltip {
  position: absolute;
  z-index: @tooltip-zindex;
  display: block;
  font-size: @global-font-size-small;
  opacity: 0;
  padding: (@tooltip-arrow-size + 1);

  &-inner {
    color: @global-color-white;
    max-width: 200px;
    padding: @global-whitespace-xsmall @global-whitespace-small;
    background: @global-black;
    border-radius: @global-border-radius;
    word-wrap: break-word;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
    }
  }

  &--top {
    .tooltip-inner {
      &::after {
        border-left: @tooltip-arrow-size solid transparent;
        border-right: @tooltip-arrow-size solid transparent;
        border-top: @tooltip-arrow-size solid @tooltip-background;
        bottom: (-@tooltip-arrow-size);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--right {
    .tooltip-inner {
      &::after {
        border-top: @tooltip-arrow-size solid transparent;
        border-bottom: @tooltip-arrow-size solid transparent;
        border-right: @tooltip-arrow-size solid @tooltip-background;
        left: (-@tooltip-arrow-size);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &--bottom {
    .tooltip-inner {
      &::after {
        border-left: @tooltip-arrow-size solid transparent;
        border-right: @tooltip-arrow-size solid transparent;
        border-bottom: @tooltip-arrow-size solid @tooltip-background;
        top: (-@tooltip-arrow-size);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--left {
    .tooltip-inner {
      &::after {
        border-top: @tooltip-arrow-size solid transparent;
        border-bottom: @tooltip-arrow-size solid transparent;
        border-left: @tooltip-arrow-size solid @tooltip-background;
        right: (-@tooltip-arrow-size);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
