// File: utilities.less
// Note:


// -------------------------
// Block
// -------------------------


.u-block {
  display: block;
}


// -------------------------
// Center Block
// -------------------------


.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// -------------------------
// Clearfix
// -------------------------


.u-clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}


// -------------------------
// Cursors
// -------------------------
// see http://codepen.io/chriscoyier/pen/uCwfB


.u-cursor-not-allowed {
  cursor: not-allowed;
}

.u-cursor-pointer {
  cursor: pointer;
}


// -------------------------
// Images
// -------------------------


.u-img-fluid {
  height: auto;
  max-width: 100%;
}


// -------------------------
// Invisible
// -------------------------


.u-invisible {
  visibility: hidden;
}


// -------------------------
// Inline Block
// -------------------------


.u-inline-block {
  display: inline-block;
}


// -------------------------
// Floats
// -------------------------


.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}


// -------------------------
// Hide
// -------------------------


.u-hide {
  display: none;
}


// -------------------------
// Overflow
// -------------------------


.u-overflow-hidden {
  overflow: hidden;
}


// -------------------------
// Pointer Events
// -------------------------


.u-pointer-events-none {
  pointer-events: none;
}


// -------------------------
// Show
// -------------------------


.u-show {
  display: block;
}


// -------------------------
// Tab Focus
// -------------------------


.u-tab-focus {
  .u-tab-focus();
}


// -------------------------
// Text Alignment
// -------------------------


.u-text-center {
  text-align: center;
}

.u-text-justify {
  text-align: justify;
}

.u-text-left {
  text-align: left;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-text-right {
  text-align: right;
}


// -------------------------
// Text Lead
// -------------------------


.u-text-lead {
  font-size: @font-size-large;
  font-weight: @font-weight-light;
}


// -------------------------
// Text Overflow
// -------------------------


.u-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

