// File: variables.less
// Note:


// -------------------------
// Alerts
// -------------------------


/*@alert-border-radius:         @border-radius-base;
@alert-padding:               @padding-large;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;*/


// -------------------------
// Badges
// -------------------------


/*@badge-active-color:          @link-color;
@badge-active-bg:             @color-white;
@badge-bg:                    @color-gray-light;
@badge-border-radius:         @border-radius-small;
@badge-color:                 @color-white;
@badge-font-weight:           normal;
@badge-horizontal-padding:    @padding-xsmall;
@badge-line-height:           1;
@badge-link-hover-color:      @color-white;
@badge-min-width:             1.8rem;
@badge-vertical-padding:      .3rem;*/


// -------------------------
// Borders
// -------------------------


@border-color-base:             @color-gray-light;
@border-color-focus:            #66afe9;
@border-radius-base:            .4rem;
@border-radius-large:           .5rem;
@border-radius-small:           .3rem;
@border-shadow-focus:           ~'inset 0 0 1px rgba(0, 0, 0, .075), 0 0 .4rem @{border-shadow-color-focus}';
@border-shadow-color-focus:     rgba(red(@border-color-focus), green(@border-color-focus), blue(@border-color-focus), .75);


// -------------------------
// Buckets
// -------------------------


@bucket-bg:                      @color-white;
@bucket-border-radius:           @border-radius-base;
@bucket-padding:                 @padding-half-gutter;
@bucket-padding-small:           @padding-base;

@bucket-default-border:          @border-color-base;
@bucket-primary-border:          @color-primary;


// -------------------------
// Buttons
// -------------------------


@btn-font-weight:                   normal;

@btn-link-disabled-color:           @color-gray-light;

@btn-border-radius-base:            @border-radius-base;
@btn-border-radius-large:           @border-radius-large;
@btn-border-radius-small:           @border-radius-small;

@btn-height-base:                   3.6rem;
@btn-height-large:                  4.2rem;
@btn-height-small:                  3rem;

@btn-accent-color:                  @color-white;
@btn-accent-bg:                     @color-accent;
@btn-accent-border:                 @color-accent;

@btn-danger-color:                  @color-white;
@btn-danger-bg:                     @color-danger;
@btn-danger-border:                 @color-danger;

@btn-default-color:                 @text-color;
@btn-default-bg:                    @color-white;
@btn-default-border:                @border-color-base;

@btn-default-outline-color:         @text-color;
@btn-default-outline-bg:            transparent;
@btn-default-outline-border:        @btn-default-border;
@btn-default-outline-hover-bg:      darken(@color-gray, 10%);
@btn-default-outline-hover-border:  @btn-default-outline-hover-bg;

@btn-info-color:                    @color-white;
@btn-info-bg:                       @color-info;
@btn-info-border:                   @color-info;

@btn-inverted-outline-color:        @color-white;
@btn-inverted-outline-bg:           transparent;
@btn-inverted-outline-border:       @color-white;
@btn-inverted-outline-hover-bg:     rgba(255, 255, 255, .1);
@btn-inverted-outline-hover-border: @color-white;

@btn-primary-color:                 @color-white;
@btn-primary-bg:                    @color-primary;
@btn-primary-border:                @color-primary;

@btn-primary-outline-color:         @color-primary;
@btn-primary-outline-bg:            transparent;
@btn-primary-outline-border:        @btn-primary-outline-color;
@btn-primary-outline-hover-bg:      @btn-primary-outline-color;
@btn-primary-outline-hover-border:  @btn-primary-outline-color;

@btn-secondary-color:               @color-white;
@btn-secondary-bg:                  @color-secondary;
@btn-secondary-border:              @color-secondary;

@btn-success-color:                 @color-white;
@btn-success-bg:                    @color-success;
@btn-success-border:                @color-success;

@btn-warning-color:                 @color-white;
@btn-warning-bg:                    @color-warning;
@btn-warning-border:                @color-warning;


// -------------------------
// Close
// -------------------------


@close-font-weight:           @font-weight-light;
@close-color:                 @color-black;
@close-text-shadow:           0 1px 0 @color-white;


// -------------------------
// Colors
// -------------------------


// Brand Colors
@color-accent:              #ff9359;
@color-primary:             #0081c6;
@color-secondary:           #83c400;

// Utility Colors
@color-danger:              #cc2d32;
@color-info:                #005480;
@color-success:             #72aa00;
@color-warning:             #f2d046;

// Other Colors
@color-black:               #080808;
@color-gray-darker:         #404040;
@color-gray-dark:           #6c6c6c;
@color-gray:                #9f9f9f;
@color-gray-light:          #c5c5c5;
@color-gray-lighter:        #ececec;
@color-gray-lightest:       #f9f9f9;
@color-white:               #fff;


// -------------------------
// Components
// -------------------------


// fine-tune component padding
@padding-gutter:            @grid-gutter-width; // 32px
@padding-half-gutter:       @grid-gutter-width / 2; // 16px
@padding-xlarge:            1.4rem;
@padding-large:             1.2rem;
@padding-base:              1.0rem;
@padding-small:             .6rem;
@padding-xsmall:            .4rem;

// fine-tune component margin
@margin-gutter:             @grid-gutter-width; // 32px
@margin-half-gutter:        @grid-gutter-width / 2; // 16px
@margin-xlarge:             1.4rem;
@margin-large:              1.2rem;
@margin-base:               1.0rem;
@margin-small:              .6rem;
@margin-xsmall:             .4rem;

@component-active-color:    @color-white; // global color for active items (e.g., navs or dropdowns)
@component-active-bg:       @color-primary; // global bgcolor for active items (e.g., navs or dropdowns)

@caret-width-base:          .5rem; // width of the `border` for generating carets that indicator dropdowns
@caret-width-large:         .6rem;


// -------------------------
// Containers
// -------------------------


/*@container-sm:                 (720px + @grid-gutter-width); // for `@screen-sm-min` and up
@container-md:                 (940px + @grid-gutter-width); // for `@screen-md-min` and up
@container-lg:                 (1140px + @grid-gutter-width); // for `@screen-lg-min` and up*/


// -------------------------
// Date Picker
// -------------------------


@datepicker-border-color:        @border-color-base;
@datepicker-border-radius:       @border-radius-base;
@datepicker-border-radius-day:   50%;
@datepicker-day-size:            3.2rem;
@datepicker-nav-color:           @color-gray;
@datepicker-nav-hover-color:     @color-gray-dark;
@datepicker-nav-size:            2rem;
@datepicker-shadow:              @shadow-depth-1;


// -------------------------
// Dropdowns
// -------------------------


@dropdown-bg:                    @color-white;
@dropdown-border:                @border-color-base;
@dropdown-chevron-size:          .7em;
@dropdown-divider-bg:            @color-gray-lighter;
@dropdown-header-color:          @color-gray;
@dropdown-link-color:            @text-color;
@dropdown-link-hover-color:      darken(@text-color, 5%);
@dropdown-link-hover-bg:         @color-gray-lightest;
@dropdown-link-active-color:     @component-active-color;
@dropdown-link-active-bg:        @component-active-bg;
@dropdown-link-disabled-color:   @color-gray-light;
@dropdown-menu-shadow:           @shadow-depth-1;
@dropdown-padding:               @padding-small @padding-xlarge;



// -------------------------
// Grid
// -------------------------


@grid-columns:                  12;

@grid-gutter-width:             3.2rem; // 30px
@grid-gutter-width-condensed:   1.4rem; // 14px
@grid-gutter-width-xcondensed:  .6rem; // 6px


// -------------------------
// Forms
// -------------------------


@cursor-disabled:                not-allowed; // disabled cursor for form controls and buttons.

@input-bg:                       @color-white;
@input-bg-disabled:              @color-gray-lighter;
@input-border:                   @border-color-base;
@input-border-focus:             @border-color-focus;
@input-border-radius:            @border-radius-base;
@input-border-radius-large:      @border-radius-large;
@input-border-radius-small:      @border-radius-small;
@input-color:                    @text-color;
@input-color-placeholder:        darken(@color-gray-light, 4%);
@input-group-addon-bg:           @color-gray-lighter; // bg color for textual input addons
@input-group-addon-border-color: @input-border; // border color for textual input addons

// Form control `.form-control` heights

@input-height-base:              @btn-height-base;
@input-height-large:             @btn-height-large;
@input-height-small:             @btn-height-small;

@form-group-margin-bottom:       @line-height-computed;

@legend-color:                   @color-gray-dark;
@legend-border-color:            #e5e5e5;

@form-element-color:             @color-primary;

@form-control-chevron-padding:   3rem;


// -------------------------
// Labels
// -------------------------


@label-accent-bg:           @color-accent;
@label-danger-bg:           @color-danger;
@label-default-bg:          @color-gray;
@label-info-bg:             @color-info;
@label-primary-bg:          @color-primary;
@label-secondary-bg:        @color-secondary;
@label-success-bg:          @color-success;
@label-warning-bg:          @color-warning;

@label-color:               @color-white;
@label-link-hover-color:    @color-white;


@label-padding-sides:       .5rem;

@label-padding:             0 @label-padding-sides;


// -------------------------
// List Group
// -------------------------


@list-group-bg:                  @color-white; // bg color on `.list-group-item`
@list-group-border:              @border-color-base; // `.list-group-item` border color
@list-group-border-radius:       @border-radius-base;
@list-group-active-color:        @component-active-color; // text color of active list items
@list-group-active-bg:           @component-active-bg;
@list-group-active-border:       @list-group-border;
@list-group-active-text-color:   lighten(@list-group-active-bg, 40%); // text color for content within active list items
@list-group-disabled-color:      @color-gray-light;
@list-group-disabled-bg:         @color-gray-lighter;
@list-group-disabled-text-color: @list-group-disabled-color;
@list-group-hover-bg:            @color-gray-lightest;
@list-group-link-color:          @text-color;
@list-group-link-hover-color:    @list-group-link-color;
@list-group-link-heading-color:  @text-color;


// -------------------------
// Media Query Breakpoints
// -------------------------


@screen-xs-min:              480px;
@screen-sm-min:              768px;
@screen-md-min:              992px;
@screen-lg-min:              1200px;

@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


// -------------------------
// Messages
// -------------------------

@msg-border-radius:           @border-radius-base;
@msg-line-height:             @line-height-small;
@msg-padding:                 @padding-base - .1rem @padding-base @padding-base @padding-base;
@msg-shadow-x:                0;
@msg-shadow-y:                2px;
@msg-shadow-blur:             2px;


// -------------------------
// Modals
// -------------------------


@modal-backdrop-bg:           @color-black;
@modal-backdrop-opacity:      .5;

@modal-content-bg:            @color-white;
@modal-content-border-color:  @color-gray-lighter;

@modal-easing:                cubic-bezier(.465, .183, .153, .946);

@modal-footer-border-color:   @modal-content-border-color;
@modal-header-border-color:   @modal-content-border-color;
@modal-inner-padding:         @padding-half-gutter;

@modal-lg:                    90rem;
@modal-md:                    60rem;
@modal-sm:                    30rem;

@modal-header-padding-hor:    @padding-half-gutter;
@modal-header-padding-vert:   2rem;
@modal-header-line-height:    @headings-line-height;


// -------------------------
// Navs
// -------------------------


@nav-link-padding:            @padding-base @padding-half-gutter;
@nav-link-padding-small:      @padding-small @padding-base;


// -------------------------
// Opacity
// -------------------------


@opacity-disabled:          .5;


// -------------------------
// Pager
// -------------------------


/*@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  1.5rem;

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @pagination-disabled-color;*/


// -------------------------
// Pagination
// -------------------------


/*@pagination-color:                     @link-color;
@pagination-bg:                        @color-white;
@pagination-border:                    @border-color-base;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @color-gray-lighter;
@pagination-hover-border:              @border-color-base;

@pagination-active-color:              @color-white;
@pagination-active-bg:                 @color-primary;
@pagination-active-border:             @color-primary;

@pagination-disabled-color:            @color-gray-light;
@pagination-disabled-bg:               @color-white;
@pagination-disabled-border:           @color-gray-light;*/


// -------------------------
// Pills
// -------------------------


@pill-default-bg:          @color-white;
@pill-default-border:      @border-color-base;
@pill-default-color:       @link-color;

@pill-padding-horizontal:  .6rem;
@pill-padding-vertical:    .4rem;

@pill-padding:             @pill-padding-vertical @pill-padding-horizontal;


// -------------------------
// Progress bars
// -------------------------


@progress-bar-radius:       1rem;
@progress-bar-height:       1.4rem;
@progress-bar-height-sm:    1.4rem;
@progress-bar-inset-shadow: inset 0 .5rem .5rem rgba(0, 0, 0, .05);



// -------------------------
// Scaffolding
// -------------------------


@body-bg:                   @color-white; // body bg color

@link-color:                @color-primary; // global textual link color
@link-hover-color:          darken(@link-color, 15%);
@link-hover-decoration:     underline;

@text-color:                @color-gray-dark; // body text color
@text-color-muted:                @color-gray;


// -------------------------
// Shadows
// -------------------------

@shadow-depth-1: 0 .2rem  .5rem  rgba(0, 0, 0, .20);
@shadow-depth-2: 0 .5rem  1.5rem  rgba(0, 0, 0, .20);
@shadow-depth-3: 0 1.0rem  2.5rem  rgba(0, 0, 0, .20);



// -------------------------
// Spacing (see utilities-spacing.less)
// -------------------------


@spacer:                     1.4rem;
@spacer-x:                   @spacer;
@spacer-y:                   @spacer;


// -------------------------
// States
// -------------------------


@state-accent-text:              darken(@color-accent, 5%);

@state-danger-text:              @color-danger;
@state-danger-bg:                tint(@color-danger, 80%);
@state-danger-border:            lighten(@color-danger, 45%);

@state-info-text:                @color-info;
@state-info-bg:                  tint(@color-info, 80%);
@state-info-border:              lighten(@color-info, 27%);

@state-primary-text:             @color-primary;

@state-secondary-text:           darken(@color-secondary, 4%);

@state-success-text:             darken(@color-success, 4%);
@state-success-bg:               tint(@color-success, 80%);
@state-success-border:           lighten(@color-success, 40%);

@state-warning-text:             darken(@color-warning, 12%);
@state-warning-bg:               tint(@color-warning, 80%);
@state-warning-border:           lighten(@color-warning, 28%);


// -------------------------
// SVG
// -------------------------

@svg-path:                       '../../dist/svg/';


// -------------------------
// Switchers
// -------------------------


@switcher-border-radius:         @border-radius-small;
@switcher-height:                2.6rem;
@switcher-state-line-height:     @switcher-height;
@switcher-state-padding:         2.2rem;
@switcher-toggler-height:        2.2rem;
@switcher-toggler-margin:        .2rem;
@switcher-toggler-width:         2.2rem;
@switcher-width:                 6rem;


// -------------------------
// System Alerts
// -------------------------


@system-alert-padding:              @padding-base @padding-large;
@system-alert-text:                 @color-white;


// -------------------------
// Tables
// -------------------------


@table-bg:                      transparent; // default background color used for all tables.
@table-bg-active:               @table-bg-hover;
@table-bg-danger:               @state-danger-bg;
@table-bg-hover:                darken(@color-gray-lightest, 2%);
@table-bg-striped:              @color-gray-lightest;
@table-bg-success:              @state-success-bg;
@table-bg-warning:              @state-warning-bg;

@table-border-color:            @border-color-base;

@table-cell-padding:            1.0rem; // padding for `<th>`s and `<td>`s
@table-condensed-cell-padding:  .6rem; // padding for cells in `.table-condensed`


// -------------------------
// Toast Notifications
// -------------------------


@toast-border-radius:        @border-radius-base;
@toast-font-weight:          @font-weight-light;
@toast-padding:              @padding-base;
@toast-text:                 @color-white;


// -------------------------
// Tooltip
// -------------------------


@tooltip-arrow-width:         .6rem;
@tooltip-arrow-color:         @tooltip-bg;
@tooltip-bg:                  @color-gray-dark;
@tooltip-border-radius:       @border-radius-base;
@tooltip-color:               @color-white;
@tooltip-padding:             @padding-xsmall @padding-small;
//@tooltip-opacity:             .9;
//@tooltip-max-width:           200px;


// -------------------------
// Transition Timing Funcs
// -------------------------


@trans-timing-cubic:          cubic-bezier(.43, .41, .22, .91);
@trans-timing-elastic:        cubic-bezier(1, 0.6, 0, 1.22);


// -------------------------
// Type
// -------------------------


@abbr-border-color:           @border-color-base;

@blockquote-small-color:      @color-gray;
@blockquote-font-size:        1.8rem;
@blockquote-border-color:     @border-color-base;

@component-offset-horizontal: 18rem; // horizontal offset for forms and lists
@dl-horizontal-offset:        @component-offset-horizontal; // width of horizontal description list titles
@headings-small-color:        @color-gray-light;
@hr-border:                   @border-color-base;



// -------------------------
// Typography
// -------------------------


@font-family-base:        @font-family-sans-serif;
@font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-sans-serif:  'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, 'Times New Roman', Times, serif;

@font-size-root:          10px;

@font-size-base:          1.6rem;
@font-size-large:         2.0rem;
@font-size-small:         1.4rem;


@font-size-h1:            3.0rem;
@font-size-h2:            2.6rem;
@font-size-h3:            2.2rem;
@font-size-h4:            1.8rem;
@font-size-h5:            1.6rem;
@font-size-h6:            1.4rem;

@font-weight-bold:        900;
@font-weight-light:       300;
@font-weight-normal:      400;
@font-weight-semibold:    700;

@headings-font-family:    inherit;
@headings-font-weight:    @font-weight-bold;
@headings-line-height:    @line-height-small;
@headings-color:          inherit;

@line-height-base:        1.4;
@line-height-computed:    @font-size-base * @line-height-base; // ~22px
@line-height-large:       1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:       1.2;


// -------------------------
// Z-index
// -------------------------


@zindex-dropdown:          1000;
@zindex-modal-background:  1040;
@zindex-modal:             1050;
@zindex-popover:           1060;
@zindex-tooltip:           1070;




