// Note: Global variables re-used throughout components


// -------------------------
// Badges
// -------------------------


@badge-border-radius: @border-radius;
@badge-horizontal-padding: @global-whitespace-xsmall;
@badge-min-width: 1rem;
@badge-vertical-padding: .3rem;


// -------------------------
// Borders
// -------------------------


@border-color-base: @global-color-gray-light;
@border-color-light: @global-color-gray-lighter;
@border-color-focus: #66afe9;
@border-radius: .3rem;
@border-shadow-focus: ~'inset 0 0 1px rgba(0, 0, 0, .075), 0 0 .4rem @{border-shadow-color-focus}';
@border-shadow-color-focus: rgba(red(@border-color-focus), green(@border-color-focus), blue(@border-color-focus), .75);


// -------------------------
// Colors
// -------------------------


// Brand Colors
@global-color-accent: #ff9359;
@global-color-primary: #0081c6;
@global-color-primary-rich: #00a2f9;
@global-color-secondary: #83c400;

// Utility Colors
@global-color-danger: #f25041;
@global-color-info: #005480;
@global-color-success: #72aa00;
@global-color-warning: #f2c746;

// Other Colors
@global-color-black: #080808;
@global-color-gray-darker: #404040;
@global-color-gray-dark: #6c6c6c;
@global-color-gray: #9f9f9f;
@global-color-gray-light: #c5c5c5;
@global-color-gray-lighter: #ececec;
@global-color-gray-lightest: #f9f9f9;
@global-color-white: #fff;


// -------------------------
// Components
// -------------------------


// fine-tune component padding
@padding-gutter: @grid-gutter-width; // 32px
@padding-half-gutter: @grid-gutter-width / 2; // 16px

// fine-tune component margin
@margin-gutter: @grid-gutter-width; // 32px
@margin-half-gutter: @grid-gutter-width / 2; // 16px

@component-active-color: @global-color-white; // global color for active items (e.g., navs or dropdowns)
@component-active-bg: @global-color-primary; // global bgcolor for active items (e.g., navs or dropdowns)

@caret-width-base: .5rem; // width of the `border` for generating carets that indicator dropdowns
@caret-width-large: .6rem;



// -------------------------
// Forms
// -------------------------


@cursor-disabled: not-allowed; // disabled cursor for form controls and buttons.

@input-bg: @global-color-white;
@input-bg-disabled: @global-color-gray-lightest;
@input-border: @border-color-base;
@input-border-focus: @border-color-focus;
@input-border-radius: @border-radius;
@input-color: @text-color;
@input-color-placeholder: darken(@global-color-gray-light, 4%);
@input-group-addon-bg: @global-color-gray-lighter; // bg color for textual input addons
@input-group-addon-border-color: @input-border; // border color for textual input addons

// Form control `.form-control` heights

@input-height-base: @btn-height-base;

@input-padding-base: @btn-padding-base;

@form-addon-item-bg: @global-color-gray-lightest;
@form-control-chevron-padding: 3rem;
@form-control-clear-padding: 3rem;
@form-element-color: @global-color-primary;
@form-group-margin-bottom: @line-height-computed;

@legend-color: @global-color-gray-dark;
@legend-border-color: #e5e5e5;

@rhinobox-rhinodio-margin: @global-whitespace-small;


// -------------------------
// Labels
// -------------------------


@label-accent-bg: @global-color-accent;
@label-danger-bg: @global-color-danger;
@label-default-bg: @global-color-gray;
@label-info-bg: @global-color-info;
@label-primary-bg: @global-color-primary;
@label-secondary-bg: @global-color-secondary;
@label-success-bg: @global-color-success;
@label-warning-bg: @global-color-warning;

@label-color: @global-color-white;
@label-link-hover-color: @global-color-white;

@label-padding-sides: .5rem;

@label-padding: 0 @label-padding-sides;


// -------------------------
// Navs
// -------------------------


@nav-link-padding: @global-whitespace-base @padding-half-gutter;
@nav-link-padding-small: @global-whitespace-small @global-whitespace-base;

@nav-tabs-active-border-width: 2px;


// -------------------------
// Opacity
// -------------------------


@opacity-disabled: .6;


// -------------------------
// Pills
// -------------------------


@pill-default-bg: @global-color-white;
@pill-default-border: @border-color-base;
@pill-default-color: @link-color;

@pill-neutral-bg: @global-color-gray-lightest;
@pill-neutral-border: @global-color-gray-lightest;
@pill-neutral-color: @link-color;

@pill-padding-horizontal: .6rem;
@pill-padding-vertical: .4rem;

@pill-padding: @pill-padding-vertical @pill-padding-horizontal;


// -------------------------
// Progress bars
// -------------------------


@progress-bar-radius: @progress-bar-height / 2;
@progress-bar-height: 1.4rem;
@progress-bar-inset-shadow: inset 0 .5rem .5rem rgba(0, 0, 0, .05);


// -------------------------
// Scaffolding
// -------------------------


@body-bg: @global-color-white; // body bg color

@link-color: @global-color-primary; // global textual link color
@link-hover-color: darken(@link-color, 10%);
@link-hover-decoration: underline;

@text-color: @global-color-gray-dark; // body text color
@text-color-muted: @global-color-gray;



// -------------------------
// Screen Breakpoints
// -------------------------


@global-screen-xs-min: 480px;
@global-screen-sm-min: 768px;
@global-screen-md-min: 992px;
@global-screen-lg-min: 1200px;

@global-screen-xs-max: (@global-screen-xs-min - 1);
@global-screen-sm-max: (@global-screen-sm-min - 1);
@global-screen-md-max: (@global-screen-md-min - 1);
@global-screen-lg-max: (@global-screen-lg-min - 1);


// -------------------------
// Shadows
// -------------------------


@shadow-depth-1: 0 .2rem  .5rem  rgba(0, 0, 0, .2);
@shadow-depth-2: 0 .5rem  1.5rem  rgba(0, 0, 0, .2);
@shadow-depth-3: 0 1rem  2.5rem  rgba(0, 0, 0, .2);


// -------------------------
// Spacing (see utilities-spacing.less)
// -------------------------


@spacer: 1.4rem;
@spacer-x: @spacer;
@spacer-y: @spacer;


// -------------------------
// States
// -------------------------


@state-accent-text: darken(@global-color-accent, 5%);

@state-danger-text: @global-color-danger;
@state-danger-bg: tint(@global-color-danger, 80%);
@state-danger-border: lighten(@global-color-danger, 45%);

@state-info-text: @global-color-info;
@state-info-bg: tint(@global-color-info, 80%);
@state-info-border: lighten(@global-color-info, 27%);

@state-primary-text: @global-color-primary;

@state-secondary-text: darken(@global-color-secondary, 4%);

@state-success-text: darken(@global-color-success, 4%);
@state-success-bg: tint(@global-color-success, 80%);
@state-success-border: lighten(@global-color-success, 40%);

@state-warning-text: darken(@global-color-warning, 12%);
@state-warning-bg: tint(@global-color-warning, 80%);
@state-warning-border: lighten(@global-color-warning, 28%);


// -------------------------
// SVG
// -------------------------

@svg-sprite: '../../dist/svg/sprite.svg';


// -------------------------
// Switchers
// -------------------------


@switcher-border-radius: @border-radius;
@switcher-height: 2.6rem;
@switcher-state-line-height: @switcher-height;
@switcher-state-padding: 2.2rem;
@switcher-toggler-height: 2.2rem;
@switcher-toggler-margin: .2rem;
@switcher-toggler-width: 2.2rem;
@switcher-width: 6rem;


// -------------------------
// System Alerts
// -------------------------


@system-alert-padding: @global-whitespace-base @global-whitespace-large;
@system-alert-text: @global-color-white;


// -------------------------
// Tables
// -------------------------


@table-bg: transparent; // default background color used for all tables.
@table-bg-active: @table-bg-hover;
@table-bg-danger: @state-danger-bg;
@table-bg-hover: darken(@global-color-gray-lightest, 2%);
@table-bg-striped: @global-color-gray-lightest;
@table-bg-success: @state-success-bg;
@table-bg-warning: @state-warning-bg;

@table-border-color: @border-color-base;

@table-cell-padding: 1rem; // padding for `<th>`s and `<td>`s
@table-condensed-cell-padding: .6rem; // padding for cells in `.table-condensed`


// -------------------------
// Toast Notifications
// -------------------------


@toast-border-radius: @border-radius;
@toast-font-weight: @font-weight-light;
@toast-offset: 1rem;
@toast-padding: @global-whitespace-base;
@toast-text: @global-color-white;


// -------------------------
// Tooltip
// -------------------------


@tooltip-arrow-width: .6rem;
@tooltip-arrow-color: @tooltip-bg;
@tooltip-bg: @global-color-gray-dark;
@tooltip-border-radius: @border-radius;
@tooltip-color: @global-color-white;
@tooltip-padding: @global-whitespace-xsmall @global-whitespace-small;


// -------------------------
// Transition Timing Funcs
// -------------------------


@trans-timing-cubic: cubic-bezier(.43, .41, .22, .91);
@trans-timing-elastic: cubic-bezier(1, .6, 0, 1.22);


// -------------------------
// Type
// -------------------------


@component-offset-horizontal: 18rem; // horizontal offset for forms and lists
@dl-horizontal-offset: @component-offset-horizontal; // width of horizontal description list titles
@headings-small-color: @global-color-gray-light;
@hr-border: @global-color-gray-lighter;


// -------------------------
// Typography
// -------------------------


@font-family-base: @font-family-sans-serif;
@font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;

@font-size-root: 10px;

@font-size-base: 1.6rem;
@font-size-large: 2rem;
@font-size-medium: 1.8rem;
@font-size-small: 1.4rem;

@font-size-h1: 3rem;
@font-size-h2: 2.6rem;
@font-size-h3: 2.2rem;
@font-size-h4: 1.8rem;
@font-size-h5: 1.6rem;
@font-size-h6: 1.4rem;

@font-weight-bold: 900;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-semibold: 700;

@headings-font-family: inherit;
@headings-font-weight: @font-weight-bold;
@headings-line-height: @line-height-small;
@headings-color: inherit;

@line-height-base: 1.42857143;
@line-height-computed: @font-size-base * @line-height-base; // ~22px
@line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small: 1.2;


// -------------------------
// Whitespace
// -------------------------


@global-whitespace-xlarge: 1.4rem;
@global-whitespace-large: 1.2rem;
@global-whitespace-base: 1rem;
@global-whitespace-small: .6rem;
@global-whitespace-xsmall: .4rem;


// -------------------------
// Z-index
// -------------------------


@zindex-cover: 1010;
@zindex-modal: 1020;
@zindex-dropdown: 1030;
@zindex-popover: 1040;
@zindex-tooltip: 1050;
@zindex-toast: 2000;
