//
// Variables
//


@variable-message-compose-bg: @input-bg;
@variable-message-compose-border-color: @input-border;
@variable-message-compose-color: @input-color;
@variable-message-compose-min-height: @input-height-base;
@variable-message-compose-horizontal-padding: @input-padding-base;
@variable-message-compose-vertical-padding: @textarea-vertical-padding;
@variable-message-compose-border-radius: @input-border-radius;

//
// Component
//


.variable-message__header {
  display: flex;
  align-items: baseline;
  margin-bottom: @global-whitespace-small;
}

.variable-message__label {
  display: block;
  margin-bottom: 0;
  margin-right: @global-whitespace-small;
}

.variable-message__reset {
  margin-left: auto;
}

.variable-message__compose {
  &[contenteditable='true'] {
    background-color: @variable-message-compose-bg;
    border: 1px solid @variable-message-compose-border-color;
    border-radius: @variable-message-compose-border-radius;
    color: @variable-message-compose-color;
    min-height: @variable-message-compose-min-height;
    padding: @variable-message-compose-vertical-padding @variable-message-compose-horizontal-padding;
  }

  &:focus {
    outline: 0;
  }
}

.variable-message__footer {
  margin-top: @global-whitespace-small;
  display: flex;
  align-items: center;
}

.variable-message__explanation {
  font-size: @global-font-size-small;
  margin-left: @global-whitespace-small;
}

// 1. Override padding of pill for tighter spacing
// 2. Help space out stacking variables
.variable-message__variable {
  &:extend(.pill);
  &:extend(.pill--primary);

  padding: 0 @global-whitespace-xsmall; // 1
  margin-bottom: 0.1rem; // 2
  cursor: default;
  user-select: none;
  vertical-align: baseline;

  // Hide squigglies
  i {
    display: none;
  }

  // Do not show underscore
  b {
    opacity: 0;
    width: 0.3rem;
  }
}

.variable-message__close {
  &:extend(.pill__close);

  position: relative;
  cursor: pointer;

  @svg-load close url(../svg/close.svg) {
    .icon-stroke {
      stroke: @pill-primary-color;
    }
  }

  &::after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: svg-inline(close);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
