//
// Variables
//


@variable-message-compose-bg: @input-bg;
@variable-message-compose-border-color: @input-border;
@variable-message-compose-color: @input-color;
@variable-message-compose-min-height: @input-height-base;
@variable-message-compose-horizontal-padding: @input-padding-base;
@variable-message-compose-vertical-padding: @textarea-vertical-padding;
@variable-message-compose-border-radius: @input-border-radius;

//
// Component
//


.variable-message__header {
  display: flex;
  align-items: baseline;
  margin-bottom: @global-whitespace-base;

  *:first-child {
    margin-right: @global-whitespace-small;
  }
}

.variable-message__reset {
  margin-left: auto;
}

.variable-message__compose {
  background-color: @variable-message-compose-bg;
  border: 1px solid @variable-message-compose-border-color;
  border-radius: @variable-message-compose-border-radius;
  color: @variable-message-compose-color;
  min-height: @variable-message-compose-min-height;
  padding: @variable-message-compose-vertical-padding @variable-message-compose-horizontal-padding;

  &:focus {
    outline: 0;
  }
}

.variable-message__footer {
  margin-top: @global-whitespace-small;
  display: flex;
  align-items: center;
}

.variable-message__explanation {
  font-size: @global-font-size-small;
  margin-left: @global-whitespace-small;
}

.variable-message__variable {
  &:extend(.pill);
  &:extend(.pill--default);
  cursor: default;
  user-select: none;
  vertical-align: baseline;

  // Hide squigglies
  i {
    display: none;
  }

  // Do not show underscore
  b {
    opacity: 0;
    width: 0.3rem;
  }
}

.variable-message__close {
  &:extend(.pill__close);
  cursor: pointer;

  &::after {
    content: '\00d7';
  }
}
