    <ul class="site-navigation__nav">
      <li>
        <a href="{{rootPath}}" class="site-navigation__nav__btn">Introduction</a>
      </li>
      <li>
        <a href="{{rootPath}}buttons/" class="site-navigation__nav__btn">Buttons</a>
      </li>
      <li>
        <a href="{{rootPath}}colors/" class="site-navigation__nav__btn">Colors</a>
      </li>
      <li>
        <a href="{{rootPath}}feedback/" class="site-navigation__nav__btn">Feedback</a>
      </li>
      <li>
        <a href="{{rootPath}}icons/" class="site-navigation__nav__btn">Icons</a>
      </li>
    </ul>

