// Note: used to add chevron down to the wrapper of input / select dropdown toggles


// -------------------------
// Chevron Down
// -------------------------


.mixin-chevron-down() {
  &::after {
    background-image: url('@{svg-sprite}#icon-chevron-down');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: @dropdown-chevron-size @dropdown-chevron-size;
    content: '';
    fill: @text-color;
    height: @dropdown-chevron-size;
    pointer-events: none;
    position: absolute;
    right: @global-whitespace-large;
    top: 50%;
    transform: translateY(-50%);
    width: @dropdown-chevron-size;
  }
}
