//
// Buttons Mixin
//


.mixin-button-variant(@color; @background; @border) {
  background: @background;
  border-color: @border;
  color: @color;

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    color: @color;
  }

  &:active,
  &.is-active {
    box-shadow: @button-active-box-shadow;
  }
}

.mixin-button-outline-variant(@color; @border; @hover-color; @hover-bg-color; @shadow: true) {
  background: transparent;
  border-color: @border;
  color: @color;

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    background: @hover-bg-color;
    color: @hover-color;
  }

  & when (@shadow = true) {
    &:active,
    &.is-active {
      box-shadow: @button-active-box-shadow;
    }
  }
}


//
// Button Size
//


.mixin-button-size(@height; @padding-horizontal; @font-size) {
  font-size: @font-size;
  height: @height;
  line-height: ~'calc(@{height} - 2px)';
  padding: 0 @padding-horizontal;

  .button__badge {
    font-size: @font-size - 0.2rem;
  }
}
