//
// Text Emphasis Mixin
//


.mixin-text-emphasis-variant(@global-color) {
  color: @global-color !important;

  .button--reset&,
  .button--link& {
    color: @global-color !important;
  }

  .button--reset&:hover,
  .button--link&:hover {
    color: darken(@global-color, 10%) !important;
  }
}
