// File: mixin-alerts.less
// Note:


// -------------------------
// Alerts Mixin
// -------------------------


.mixin-alert-variant(@background) {
  background-color: @background;
  color: @color-white;

  .alert__body {
    a {
      color: @color-white;
    }
  }
}


.mixin-outline-alert-variant(@color) {
  border: 1px solid @color;

  .alert__title {
    color: @color-gray-darker;
  }

  .alert__title__icon {
    color: @color;
  }

  .alert__body {
    .icon {
      color: @color;
    }
  }
}