//
// Buttons Mixin
//


.mixin-button-variant(@color; @background-color; @border; @shadow: true) {
  background: @background-color;
  border-color: @border;
  color: @color;

  & when (@shadow = true) {
    box-shadow: @button-box-shadow;
  }

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    background-color: darken(@background-color, 2.5%);
    color: @color;
  }

  .button__badge {
    background: @color;
    color: contrast(@color, darken(@background-color, 7.5%), @color);
  }

  &.is-outlined {
    background: transparent;
    border-color: @background-color;
    color: @background-color;

    &:hover,
    &:focus,
    &:active,
    &.is-active {
      background: fade(@background-color, 10%);
      color: @border;
    }

    .button__badge {
      background: @background-color;
      color: contrast(@color, @global-color-white, @color, 30%);
    }

    &.button--outline-reversed {
      .button__badge {
        color: @global-font-color;
      }
    }
  }
}


//
// Button Size
//


.mixin-button-size(@height; @padding-horizontal; @font-size) {
  font-size: @font-size;
  height: @height;
  line-height: ~'calc(@{height} - 2px)';
  padding: 0 @padding-horizontal;

  .button__badge {
    font-size: (@font-size - 0.2rem);
  }
}
