// Note: utility spacing taken from BS4


//
// Component
//


//
// Spacing Margins
//


.u-m-a-auto { margin: auto !important; }
.u-m-l-auto { margin-left: auto !important; }
.u-m-r-auto { margin-right: auto !important; }
.u-m-x-auto { margin-left: auto !important; margin-right: auto !important; }

.u-m-a-0 { margin: 0 !important; }
.u-m-t-0 { margin-top: 0 !important; }
.u-m-r-0 { margin-right: 0 !important; }
.u-m-b-0 { margin-bottom: 0 !important; }
.u-m-l-0 { margin-left: 0 !important; }
.u-m-x-0 { margin-left: 0 !important; margin-right: 0 !important; }
.u-m-y-0 { margin-bottom: 0 !important; margin-top: 0 !important; }

.u-m-a { margin: @global-whitespace-base !important; }
.u-m-t { margin-top: @global-whitespace-base !important; }
.u-m-r { margin-right: @global-whitespace-base !important; }
.u-m-b { margin-bottom: @global-whitespace-base !important; }
.u-m-l { margin-left: @global-whitespace-base !important; }
.u-m-x { margin-left: @global-whitespace-base !important; margin-right: @global-whitespace-base !important; }
.u-m-y { margin-bottom: @global-whitespace-base !important; margin-top: @global-whitespace-base !important; }

.u-m-a-sm { margin: @global-whitespace-small !important; }
.u-m-t-sm { margin-top: @global-whitespace-small !important; }
.u-m-r-sm { margin-right: @global-whitespace-small !important; }
.u-m-b-sm { margin-bottom: @global-whitespace-small !important; }
.u-m-l-sm { margin-left: @global-whitespace-small !important; }
.u-m-x-sm { margin-left: @global-whitespace-small !important; margin-right: @global-whitespace-small !important; }
.u-m-y-sm { margin-bottom: @global-whitespace-small !important; margin-top: @global-whitespace-small !important;}

.u-m-a-md{ margin: @global-whitespace-medium !important; }
.u-m-t-md{ margin-top: @global-whitespace-medium !important; }
.u-m-r-md{ margin-right: @global-whitespace-medium !important; }
.u-m-b-md{ margin-bottom: @global-whitespace-medium !important; }
.u-m-l-md{ margin-left: @global-whitespace-medium !important; }
.u-m-x-md{ margin-left: @global-whitespace-medium !important; margin-right: @global-whitespace-medium !important; }
.u-m-y-md{ margin-bottom: @global-whitespace-small !important; margin-top: @global-whitespace-small !important;}

.u-m-a-lg { margin: @global-whitespace-large !important; }
.u-m-t-lg { margin-top: @global-whitespace-large !important; }
.u-m-r-lg { margin-right: @global-whitespace-large !important; }
.u-m-b-lg { margin-bottom: @global-whitespace-large !important; }
.u-m-l-lg { margin-left: @global-whitespace-large !important; }
.u-m-x-lg { margin-left: @global-whitespace-large !important; margin-right: @global-whitespace-large !important; }
.u-m-y-lg { margin-bottom: @global-whitespace-large !important; margin-top: @global-whitespace-large !important; }


//
// Spacing Padding
//


.u-p-a-0 { padding: 0 !important; }
.u-p-t-0 { padding-top: 0 !important; }
.u-p-r-0 { padding-right: 0 !important; }
.u-p-b-0 { padding-bottom: 0 !important; }
.u-p-l-0 { padding-left: 0 !important; }
.u-p-x-0 { padding-left: 0 !important; padding-right: 0 !important; }
.u-p-y-0 { padding-bottom: 0 !important; padding-top: 0 !important; }

.u-p-a { padding: @global-whitespace-base !important; }
.u-p-t { padding-top: @global-whitespace-base !important; }
.u-p-r { padding-right: @global-whitespace-base !important; }
.u-p-b { padding-bottom: @global-whitespace-base !important; }
.u-p-l { padding-left: @global-whitespace-base !important; }
.u-p-x { padding-left: @global-whitespace-base !important; padding-right: @global-whitespace-base !important; }
.u-p-y { padding-bottom: @global-whitespace-base !important; padding-top: @global-whitespace-base !important; }

.u-p-a-sm { padding: @global-whitespace-small !important; }
.u-p-t-sm { padding-top: @global-whitespace-small !important; }
.u-p-r-sm { padding-right: @global-whitespace-small !important; }
.u-p-b-sm { padding-bottom: @global-whitespace-small !important; }
.u-p-l-sm { padding-left: @global-whitespace-small !important; }
.u-p-x-sm { padding-left: @global-whitespace-small !important; padding-right: @global-whitespace-small !important; }
.u-p-y-sm { padding-bottom: @global-whitespace-small !important; padding-top: @global-whitespace-small !important; }

.u-p-a-md { padding: @global-whitespace-medium !important; }
.u-p-t-md { padding-top: @global-whitespace-medium !important; }
.u-p-r-md { padding-right: @global-whitespace-medium !important; }
.u-p-b-md { padding-bottom: @global-whitespace-medium !important; }
.u-p-l-md { padding-left: @global-whitespace-medium !important; }
.u-p-x-md { padding-left: @global-whitespace-medium !important; padding-right: @global-whitespace-medium !important; }
.u-p-y-md { padding-bottom: @global-whitespace-medium !important; padding-top: @global-whitespace-medium !important; }

.u-p-a-lg { padding: @global-whitespace-large !important; }
.u-p-t-lg { padding-top: @global-whitespace-large !important; }
.u-p-r-lg { padding-right: @global-whitespace-large !important; }
.u-p-b-lg { padding-bottom: @global-whitespace-large !important; }
.u-p-l-lg { padding-left: @global-whitespace-large !important; }
.u-p-x-lg { padding-left: @global-whitespace-large !important; padding-right: @global-whitespace-large !important; }
.u-p-y-lg { padding-bottom: @global-whitespace-large !important; padding-top: @global-whitespace-large !important; }
