// File: utilities-responsive.less
// Note:


// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#support-ie10-width
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@-ms-viewport {
  width: device-width;
}


// -------------------------
// Visibility Base
// -------------------------


.u-visible-xs-block,
.u-visible-xs-inline,
.u-visible-xs-inline-block,
.u-visible-sm-block,
.u-visible-sm-inline,
.u-visible-sm-inline-block,
.u-visible-md-block,
.u-visible-md-inline,
.u-visible-md-inline-block,
.u-visible-lg-block,
.u-visible-lg-inline,
.u-visible-lg-inline-block {
  display: none !important;
}


// -------------------------
// Visibility Extra Small
// -------------------------


.u-visible-xs-block {
  @media (max-width: @global-screen-xs-max) {
    display: block !important;
  }
}

.u-visible-xs-inline {
  @media (max-width: @global-screen-xs-max) {
    display: inline !important;
  }
}

.u-visible-xs-inline-block {
  @media (max-width: @global-screen-xs-max) {
    display: inline-block !important;
  }
}


// -------------------------
// Visibility Small
// -------------------------


.u-visible-sm-block {
  @media (min-width: @global-screen-sm-min) and (max-width: @global-screen-sm-max) {
    display: block !important;
  }
}

.u-visible-sm-inline {
  @media (min-width: @global-screen-sm-min) and (max-width: @global-screen-sm-max) {
    display: inline !important;
  }
}

.u-visible-sm-inline-block {
  @media (min-width: @global-screen-sm-min) and (max-width: @global-screen-sm-max) {
    display: inline-block !important;
  }
}


// -------------------------
// Visibility Medium
// -------------------------


.u-visible-md-block {
  @media (min-width: @global-screen-md-min) and (max-width: @global-screen-md-max) {
    display: block !important;
  }
}

.u-visible-md-inline {
  @media (min-width: @global-screen-md-min) and (max-width: @global-screen-md-max) {
    display: inline !important;
  }
}

.u-visible-md-inline-block {
  @media (min-width: @global-screen-md-min) and (max-width: @global-screen-md-max) {
    display: inline-block !important;
  }
}


// -------------------------
// Visibility Large
// -------------------------


.u-visible-lg-block {
  @media (min-width: @global-screen-lg-min) {
    display: block !important;
  }
}

.u-visible-lg-inline {
  @media (min-width: @global-screen-lg-min) {
    display: inline !important;
  }
}

.u-visible-lg-inline-block {
  @media (min-width: @global-screen-lg-min) {
    display: inline-block !important;
  }
}


// -------------------------
// Hidden
// -------------------------


.u-hidden-xs {
  @media (max-width: @global-screen-xs-max) {
    display: none !important;
  }
}

.u-hidden-sm {
  @media (min-width: @global-screen-sm-min) and (max-width: @global-screen-sm-max) {
    display: none !important;
  }
}

.u-hidden-md {
  @media (min-width: @global-screen-md-min) and (max-width: @global-screen-md-max) {
    display: none !important;
  }
}

.u-hidden-lg {
  @media (min-width: @global-screen-lg-min) {
    display: none !important;
  }
}


// -------------------------
// Visibility For Print
// -------------------------
// Media queries are placed on the inside to be mixin-friendly.


.u-visible-print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.u-visible-print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}

.u-visible-print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

.u-hidden-print {
  @media print {
    display: none !important;
  }
}
